.popupBanner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000099;
    z-index: 999999999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closePopup {
    background-color: unset;
    border: none;
    outline: 0;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 10px;
}

.banner {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    height: 22vw;
    position: relative;
    width: 65%;
}

.content {
    padding: 70px 50px;
    width: 55%;
    height: 100%;
    display: grid;
    align-content: center;
}

.content p {
    color: #1C1B1E;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: -1.12px;
    margin: 0;
}

.installApp {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    color: #1D1A22;
    letter-spacing: -0.96px;
    padding: 13px 24px;
    border-radius: 12px;
    background-color: #FFFFFF;
    margin-top: 24px;
    display: inline-block;
    width: max-content;
}

.bannerM {
    width: 90%;
    height: 139vw;
}

.contentM {
    width: 100%;
    height: auto;
    padding: 60px 26px;
    justify-items: center;
}

.contentM p {
    font-size: 17px;
    line-height: 28px;
    text-align: center;
}

.contentM .installApp {
    font-size: 18px;
    margin-top: 16px;
    padding: 6px 18px;
}

.closePopupM {
    top: 15px;
    right: 4px;
}