.mainDark {
  background-color: transparent;
  width: 100%;
  padding: 1rem;
  position: absolute;
  direction: rtl;
  z-index: 10;
  padding: 8px 7rem 8px 7rem;
  transition: 500ms;
}

.mainDarkSticky {
  z-index: 10;
  position: sticky;
  top: 0.1px;
  background-color: #fff;
  padding: 8px 7rem 8px 7rem;
  border-bottom: 0.75px solid #efefef;
  transition: 500ms;
}


.darkmodeColor {
  color: #fff;
  margin: "0px 32px";
}

.LightmodeColor {
  color: #000;
  margin: "0px 32px";
}

.DesktopSize {
  display: flex;
  width: 100%;
  flex-grow: 1;
  align-items: center;
}

.mobileSize {
  display: none;
}

.mainDark .MenuWrapper .MenuItem {
  color: #fff;
  cursor: pointer;
  font-variation-settings: "wght" 450;
}

.main .MenuWrapper .MenuItem {
  color: #000;
  cursor: pointer;
}

.MenuWrapper {
  display: flex;
  flex-direction: row;
  padding-right: 0;
}



.darkmode {
  color: #fff !important;
  background-color: #ec407a !important;
  left: 0;
  padding: 4px 49px !important;
}

.darkmodeAndClientWindow {
  color: #fff !important;
  background-color: #ec407a !important;
  left: 0;
  padding: 4px 49px !important;
}

.darkmode:hover,
.darkmodeAndClientWindow:hover {
  background-color: #B80F55 !important;
}

.notDarkmode {
  left: 0;
  padding: 4px 49px !important;
}

.notDarkmodeAndClientWindow {
  color: #fff !important;
  background-color: #303388 !important;
  left: 0;
  padding: 4px 49px !important;
}

.notDarkmodeAndClientWindow:hover {
  background-color: #212360 !important;
}

.justForIndex {
  left: 0;
  padding: 4px 49px !important;
}

.justForIndexClientWindow {
  color: #fff !important;
  background-color: #ec407a !important;
  left: 0;
  padding: 4px 49px !important;
}

.justForIndexClientWindow:hover {
  background-color: #B80F55 !important;
}

.justForIndexClientWindow:focus {
  background-color: #8F003F !important;
}

/* ****** */

.justindexColorText {
  color: #fff;
}

.justindexColorTextClientwindow {
  color: #000;
}

.MenuWrapper a:hover .justindexColorTextClientwindow {
  color: #EC407A;
}

.MenuWrapper a:hover .justindexColorText {
  color: #000;
}

.darkmodeColorText {
  color: #fff;
}

.darkmodeColorText:hover {
  color: #000;
}

.darkmodeColorTextClientWindow {
  color: #000;
}

.darkmodeColorTextClientWindow:hover {
  color: #303388;
}

/* ********* */
.jsutIndexIconMobileSize {
  color: #fff !important;
}

.notDarkmodeColorMobileSize {
  color: #fff !important;
}

.notDarkmodeColorClientWindowMobileSize {
  color: #000 !important;
}

.jsutIndexIconClientwindowMobileSize {
  color: #000 !important;
}

.darkmodeColorTextMobileSize {
  color: #000 !important;
}

.darkmodeColorTextMobileSizeClientWindow {
  color: #000 !important;
}


.jsutIndexIconMobileSizeBtn {
  background-color: #fff !important;
  color: #000 !important
}

.jsutIndexIconClientwindowMobileSizeBtn {
  background-color: #ec407a !important;
  color: #fff !important
}

.notDarkmodeColorMobileSizeBtn {
  background-color: #fff !important;
  color: #000 !important
}

.notDarkmodeColorClientWindowMobileSizeBtn {
  background-color: #303388 !important;
  color: #fff !important
}

.darkmodeColorTextMobileSizeBtn {
  background-color: #ec407a !important;
  color: #fff !important
}

.darkmodeColorTextMobileSizeClientWindowBtn {
  background-color: #ec407a !important;
  color: #fff !important
}




.main,
.mainDark {
  margin-bottom: -10%;
}

.main,
.mainDark .MenuItem {
  padding: 0px 24px;
}

.qq {
  width: '80%'
}

.NavBarMobileSize button {
  width: 100%;
  text-align: left;
  padding-left: 0 !important;
}



@media (max-width: 768px) {
  .mobileSize {
    display: block;
  }

  .mainDark {
    padding: 0 !important;
  }

  .DesktopSize {
    display: none;
  }

  .FlexmobileSizeBoxBtn {
    position: relative;
    padding: 20px;
  }

  .NavBarMobileSize {
    padding: 20px;
  }

  .styleEachTab {
    padding: 10px;
    color: #000;
  }

  .styleEachTab:hover {
    background-color: #ec407a;
    color: #fff;
    border-radius: 10px;
  }

  .mainDarkSticky {
    padding: 0 !important;
  }

  .jsutIndexIconMobileSizeBtn,
  .jsutIndexIconClientwindowMobileSizeBtn {
    font-variation-settings: 'wght' 400;
    font-size: 14px;
  }
}

@media (max-width: 3668px) {
  .downloadHeader {
    position: absolute;
    left: 20px;
    top: 18px;
  }

  .FlexmobileSizeBoxBtn {
    padding: 15px 10px;
  }
}

@media (max-width: 1440px) {
  .mainDark {
    padding: 8px 2rem 8px 2rem;
  }

  .mainDarkSticky {
    z-index: 10;
    position: sticky;
    top: 0.1px;
    background-color: #fff;
    padding: 8px 2rem 8px 2rem;
    border-bottom: 0.75px solid #efefef;
    transition: 500ms;
  }
}