.Label {
    font-variation-settings: "wght" 300 !important;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    letter-spacing: -0.03em;
    color: #1C1B1E;
}

.inputImpo input,
.inputImpo textarea {
    border-width: 1px;
    border-style: solid;
    border-color: transparent transparent #EC407A transparent;
    border-radius: 10px;
    background-color: #F9FBFC;
    padding-top: 15px;
    padding-bottom: 15px;
}

.inputImpo textarea {
    padding: 8px 16px !important;
}

.inputImpo input:focus,
.inputImpo textarea:focus {
    border-color: #EC407A !important;
}