.valueFrame {
    display: grid;
    grid-template-columns: 32% 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 44px;
    margin-bottom: 150px;
}

.impoValues .tabValue {
    justify-self: right;
}

.valueFrame button {
    font-family: inherit;
    color: #5B595C;
    border-radius: 40px;
    border: 1px solid #EFEFEF;
    cursor: pointer;
    padding: 10px 32px;
    background-color: #fff;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.72px;
    transition: color 0.25s;
}



.valueFrame button:hover {
    background-color: #ececec;
}

.valueFrame img {
    width: 100%;
    height: 90vh;
}

.valueFrame .description {
    width: 75%;
}

.tabValues {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px) {
    .valueFrame {
        display: block !important;
    }

    .valueFrame button {
        width: auto;
        font-size: 15px;
    }

    .tabValues {
        grid-template-columns: 1fr;
        align-items: right;
        justify-items: right;
    }

    .valueFrame .description {
        width: 100%;
        text-align: center;
    }

    .valueFrame img {
        width: 80vw;
        height: 100%;
    }
}

@media (max-width: 450px) {
    .valueFrame {
        margin: 56px 0;
    }
}