.items {
    padding: 40px 24px;
}

.items hr {
    margin: 20px 0;
}

.bazarItems h2 {
    color: #0C0C0D;
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.12px;
}

.bazarItems img {
    width: 100%;
    height: auto;
}

.siteItems {
    text-align: center;
    padding: 21px 24px;
}

.siteItems p,
.googlePlayItems p {
    margin-top: 16px;
    color: #0C0C0D;
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.12px;
}

.googlePlayItems {
    text-align: center;
    padding: 21px 24px;
}

.textBox {
    padding: 15px 55px;
    border-radius: 8px;
    border: 1px solid #C43092;
    background: #F9F9F9;
    color: #0C0C0D;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.12px;
    margin-top: 28px;
}

.items h2,
.items ul li {
    color: #0C0C0D;
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.12px;
}

.items ul {
    padding: 0 20px;
    margin-top: 0;
}

.image {
    width: 100% !important;
    height: 70vh !important;
    margin-bottom: 54px;
}

.items ul li {
    list-style: disc;
}

.subscribeEnd {
    padding-bottom: 16px;
}

.mobile {
    margin: 15px;
}

.mobile img {
    width: 100%;
    height: auto;
}

.textTitle h3 {
    color: #0C0C0D;
    text-align: right;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.12px;
}

.textTitle p {
    color: #0C0C0D;
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.12px;
}

.addSympathy h2 {
    font-weight: 700;
}

.addSympathy h3 {
    color: #0C0C0D;
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.12px;
}