.Article1ChildPrevention {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 50px;
  /* border-top: 1px solid #efefef; */
  /* border-bottom: 1px solid #efefef; */
  border-left: 1px solid #efefef;
  line-height: 80px;
}

.containerZig {
  padding: 0 300px;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

.textStyle1Prevention {
  font-size: 38px !important;
  font-variation-settings: "wght" 500 !important;
}

.Dividerstyle1 {
  display: none;
}

.Dividerstyle2 {
  display: none;
}

.imageStyle {
  border-right: 1px solid #efefef;
  padding: 50px;
}

.imageStyle img {
  width: 100%;
  height: 100%;
  object-fit: contain;

}

.textAlignCenterPrevention {
  text-align: center;
}

@media (max-width: 768px) {
  .Article1ChildPrevention {
    padding: 15px;
    border: none;
    line-height: 40px;
    text-align: center;
  }

  .textStyle1Prevention {
    font-size: 24px !important;
  }

  .ImageStyleFix {
    width: 100% !important;
    height: 100% !important;

  }

  .containerZig {
    padding: 0 10px;
  }
}

@media (max-width: 425px) {
  .Article1ChildPrevention {
    padding: 0px;
    border: none;
    line-height: 40px;
  }

  .flexMobileSizePrevention {
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .textStyle1Prevention {
    font-size: 19px !important;
    text-align: center;
  }

  .textZigZagBoxPrevention {
    font-size: 12px !important;
    font-variation-settings: "wght" 400 !important;
    text-align: center;
    padding: 0 30px 20px 30px;
    line-height: 24px !important;
  }

  .Dividerstyle1 {
    display: block;
    width: 100vw !important;
  }

  .Dividerstyle2 {
    display: block;
    width: 100vw !important;
  }

  .imageStyle {
    border: none;
    padding: 20px 50px 0px 50px;
  }
}

@media (max-width: 1440px) {
  .containerZig {
    padding: 0 5vw;
  }
}