.imageArticle {
  height: 100%;
}

.widthImageArticle {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: 0.5s;
}

.flexMobileSizeArticle {
  min-height: 13rem;
  max-height: 13rem;
  display: grid;
  align-items: center;
  align-content: space-between;
}

.flexlikeDoctorName {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.flexDoctorName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.flexlikeComment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.likeCommentDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stylesDivider {
  margin-bottom: 40px !important;
  margin-top: 40px !important;
}

.titleStyle {
  margin-bottom: 12px !important;
  font-variation-settings: "wght" 500 !important;
  font-size: 26px !important;
  color: #1C1B1E;
}

.titleStyle:hover {
  color: #EC407A;
}

.textArticle {
  color: #5B595C;
  word-break: break-word;
}

.paddingBottomArticle {
  padding-top: 64px;
  padding-bottom: 40px;
}

.widthImageArticel {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.widthImageArticelMobileSize {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  border-radius: 10px;
}

.widthDoctorImage {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50px;
}

.commentStyleArticle {
  color: #938f94;
  font-variation-settings: "wght" 400 !important;
}

.textAlineArticle {
  text-align: center;
}

.minwidthArticle {
  min-width: 120px !important;
}

.frameArticle:hover.frameArticle img {
  border-radius: 25px;
  filter: grayscale(50%);
}

@media (max-width: 768px) {

  .frameArticleMobile {
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #EFEFEF;
  }

  .fontSizeMobileSizeArticle {
    font-size: 12px !important;
  }

  .minwidthArticle {
    min-width: 55px !important;
    padding-right: 3px !important;
  }

  .flexMobileSize {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
  }

  .flexMobileSizeChild {
    display: flex;
    justify-content: space-between;
    column-gap: 1px;
    align-items: center;
  }

  .borderContaner hr {
    display: none;
  }

  .flexLikeComment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 5%;
    width: auto;
  }

  .flexLikeCommentItem {
    display: flex;
    align-items: center;
    column-gap: 5%;
  }

  .stylesDivider {
    display: none !important;
  }

  .widthDoctorImage {
    width: 24px;
    height: 24px;
  }

  .styledescriptionArticle {
    width: 200px;
    min-width: 150px;
    font-variation-settings: "wght" 600 !important;
  }
}