.articles {
    padding: 0 7rem;
}

.articleList .article:hover.article img {
    border-radius: 32px 32px 0 32px;
    filter: grayscale(50%);
}

.articleList .article {
    min-height: 27rem;
    max-height: 27rem;
    position: relative;
}

.articleList .article img {
    width: 100%;
    height: auto;
    border-radius: 25px 25px 0px 25px;
    transition: 0.5s;
    min-height: 260px;
    max-height: 260px;
}

.details {
    margin-top: 5px;
}

.details .catName {
    background-color: var(--primary-95);
    color: #EC407A;
    padding: 2px 6px;
    border-radius: 24px;
    font-size: 13px;
    font-variation-settings: "wght" 400;
    margin-left: 16px;
}

.details label {
    font-size: 15px;
    font-variation-settings: "wght" 600;
    color: var(--neutral-60);
}

.details .titleArticle {
    margin: 16px 0 8px 0;
    font-variation-settings: "wght" 600 !important;
}

.articles .seeAllBlog {
    border: none !important;
    padding: 13px 24px;
    border-radius: 8px !important;
}

.articles .btnBox {
    text-align: center;
    margin-top: 63px;
}

.startIcon {
    margin: 0 0 0 8px !important;
}

.moreInfo {
    border-bottom: 1px solid #ec407a !important;
    border-radius: 0 !important;
    padding: 0 0 5px 0 !important;
    margin: 16px 0 8px 0px !important;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
}

.moreInfo:hover {
    background-color: unset;
    color: #B80F55;
    border-bottom: 1px solid #B80F55 !important;
}

.moreInfo:focus {
    background-color: transparent !important;
    color: #8F003F;
    border-bottom: 1px solid #B80F55 !important;
}

.noResult {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 2rem;
    margin: 0;
}


@media (max-width: 768px) {
    .noResult {
        font-size: 1.5rem;
    }

    .articles {
        padding: 0 !important;
    }

    .articles .title {
        font-weight: 600;
        font-size: 19px !important;
        margin-top: 25px;
        line-height: 24px;
    }

    .articles .text {
        font-weight: 400;
        font-size: 14px !important;
        margin: 4px 0 24px 0 !important;
        padding: 0 60px;
    }

    .details .titleArticle {
        font-size: 15px !important;
        font-variation-settings: "wght" 500 !important;
    }

    .articleList .article img {
        border-radius: 14px 14px 0 14px;
        min-height: unset !important;
        max-height: unset !important;
    }

    .articleList .article {
        min-height: 21rem;
        max-height: 21rem;
    }

    .moreInfo {
        font-variation-settings: 'wght' 300;
    }

    .articles .seeAllBlog {
        font-size: 14px;
        font-variation-settings: 'wght' 400;
        padding: 8px 16px;
    }

    .articles .btnBox {
        margin-top: 40px;
    }

}

@media (max-width: 1440px) {
    .articles {
        padding: 0 2rem;
        overflow: hidden !important;
    }

    .articleContainer {
        justify-content: center;
    }
}