@font-face {
    font-family: "YekanBakh";
    src: url("../fonts/YekanBakh/ttf/YekanBakh-VF.ttf"),
        url("../fonts/YekanBakh/ttf/YekanBakhFaNum-Black.ttf"),
        url("../fonts/YekanBakh/ttf/YekanBakhFaNum-Bold.ttf"),
        url("../fonts/YekanBakh/ttf/YekanBakhFaNum-ExtraBlack.ttf"),
        url("../fonts/YekanBakh/ttf/YekanBakhFaNum-ExtraBold.ttf"),
        url("../fonts/YekanBakh/ttf/YekanBakhFaNum-Light.ttf"),
        url("../fonts/YekanBakh/ttf/YekanBakhFaNum-Regular.ttf"),
        url("../fonts/YekanBakh/ttf/YekanBakhFaNum-SemiBold.ttf"),
    ;
}