.bannerAbout {
    display: grid;
    grid-template-columns: 55% 45%;
}

.bannerAbout .cover {
    width: 100%;
    height: 100%;
}

.bannerAbout .text {
    padding-top: 295px;
    padding-right: 10rem;
    background-color: #E5FCFF;
}

.bannerAbout .text .title {
    display: flex;
    column-gap: 16px;
}

.sloganImpo {
    font-size: 40px !important;
    margin-top: 45px !important;
    margin-bottom: 52px !important;
}

.startIcon {
    margin-left: 8px !important;
    margin-right: 0 !important;
}

.startIcon svg {
    font-size: 25px !important;
}

.DownloadBtn {
    background-color: #fff !important;
    padding: 12px 65px !important;
}

.titleStory {
    text-align: center;
    margin: 80px 0 60px 0;
}

.storyImpo {
    width: 100%;
    height: auto;
}

.impoStory {
    padding: 0 10rem;
}

.impoStory .layoutStory {
    display: grid;
    grid-column-gap: 107px;
    column-gap: 8%;
    grid-template-columns: 40% 52%;
    align-items: center;
    background-color: #F9F9F9;
}

.impoStory .layoutStory p {
    margin-left: 90px;
    font-size: 24px !important;
    font-weight: 400 !important;
    line-height: 40px !important;
    letter-spacing: -0.96px !important;
}

.helpFrame {
    display: grid;
    grid-template-columns: 60% 35%;
    column-gap: 5%;
}

.slides {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 92px;
}

.slides img {
    margin-bottom: 15px;
}

.slides .titleItem {
    font-size: 20px !important;
    font-variation-settings: "wght" 700 !important;

}

.slides p {
    margin-top: 5px;
    font-size: 16px !important;
}

.titleSection {
    text-align: center !important;
    margin: 120px 0 60px 0 !important;
}

.bannerHelp {
    width: 100%;
    height: 100%;
}

.titleSection {
    margin-top: 245px;
    text-align: center;
}

@media(max-width: 450px) {
    .bannerAbout {
        grid-template-columns: 1fr;
    }

    .logoType {
        width: 93px;
        height: 38px;
    }

    .bannerAbout .text {
        padding: 120px 20px 0 20px;
        text-align: center;
    }

    .bannerAbout .title {
        justify-content: center;
        align-items: center;
    }

    .titleSlogan {
        font-size: 32px !important;
        font-weight: 600 !important;
    }

    .sloganImpo {
        font-size: 18px !important;
        text-align: center;
        margin-top: 12px !important;
        margin-bottom: 16px !important;
    }

    .DownloadBtn {
        margin-bottom: 57px !important;
        padding: 11px 39px !important;
    }

    .impoStory {
        padding: 0;
    }

    .impoStory .layoutStory {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .impoStory .layoutStory p {
        margin: 25px 0 41px 0;
        padding: 0 19px;
        font-size: 16px !important;
        font-weight: 400 !important;
        line-height: 30px !important;
    }



    .titleSection {
        margin-top: 0;
    }

    .titleSection .title {
        font-size: 18px !important;
    }

    .titleSection {
        margin: 48px 0 16px 0;
        font-size: 24px !important;
        font-weight: 600 !important;
    }


    .slides img {
        width: 327px;
        height: 255px;
    }

    .bannerHelp {
        display: none;
    }

    .helpFrame {
        grid-template-columns: 1fr;
        margin-bottom: 64px;
    }

    .slides {
        grid-template-columns: 1fr;
        text-align: center;
    }
}