.totalDistance {
  padding: 10rem;
}

.paddingTopArticle {
  padding-top: 50px;
  padding-bottom: 1rem;
}

.AsideArticel {
  position: sticky;
  top: 20px;
}



/* get from single page this is serach bar */

.searchBlog {
  position: relative;
}

.searchBlog .searchIcon {
  position: absolute;
  left: 17px;
  bottom: 17px;
}

/* get from single page this is serach bar */

.BtnCategoriArticel {
  border: 1px solid #efefef !important;
  color: #1c1b1e !important;
  background-color: #efefef !important;
  margin: 1.5% !important;
  border-radius: 30px !important;
}

.BtnCategoriArticel:hover {
  background-color: #EC407A !important;
  color: #fff !important;
}


.BtnCategoriArticel span {
  color: inherit;
}


/* ****************************************** */

.paddingRightArticle {
  padding-right: 10px;
}

.borderContaner {
  border-left: 1px solid #efefef;
}

.fontSizeTitleArticle {
  margin-top: 32px !important;
  margin-bottom: 56px !important;
  font-size: 48px !important;
}


/* box donlowed */
.downloadApp {
  text-align: center;
  margin-top: 178px !important;
}

.downloadApp .frame {
  background: #F9FBFC;
  border-radius: 20px;
  padding: 27px 27px 0 27px;
  margin-top: 20px;
}

.downloadApp .frame .logoType {
  width: 122px;
  margin-bottom: 4px;
  object-fit: contain;
}

.downloadApp .frame span {
  margin-bottom: 24px;
  display: block;
}

.downloadApp .mockap {
  width: 100%;
  height: 100%;
  margin-bottom: -12px;
}

.downloadApp .frame a {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  padding: 6px 12px;
  border: 2px solid #EFEFEF;
  border-radius: 8px;
  margin-bottom: 8px;
  column-gap: 8px;
}

.downloadApp .frame a img {
  width: 20px;
  height: 20px;
}

.downloadApp .frame a:hover {
  background-color: #dedede;
}

/* box donlowed */

.skeleton {
  display: grid;
  grid-template-columns: 25% 1fr;
}

.skeleton span {
  margin: 10px 0;
  border-radius: 5px;
}

.skeletonCat {
  border-radius: 30px;
  margin: 2px;
}

.pagination {
  display: flex;
  justify-content: center;
}


@media(max-width:768px) {
  .paddingRightArticle {
    padding: 0;
  }

  .skeleton span {
    width: 95% !important;
    margin-left: 5px !important;
  }

  .borderContaner {
    border: none;
  }

  .totalDistance {
    padding: 2rem;
  }

  .fontSizeTitleArticle {
    margin: 16px 0 24px 0 !important;
    font-size: 24px !important;
    line-height: 28px !important;
  }

  .downloadApp {
    display: none;
  }
}

@media (max-width: 1440px) {
  .totalDistance {
    padding: 2rem;
  }

  .AsideArticel {
    top: 95px;
  }

  .containerUi {
    margin-top: 35px !important;
  }
}

@media (max-width: 450px) {
  .skeleton .texts {
    display: none;
  }
}