.articleHeaderMag {
  background: url(../assets/images/magezineImage.webp);
  min-height: 50vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e90b56;
}

.textALineMag {
  text-align: center;
}

.textStMag {
  color: #fff;
  padding-bottom: 27px;
}

.mainPaddingMag {
  padding: 56px 7rem 0 7rem;
}

.flexSortMag {
  display: flex;
  gap: 7px;
  align-items: center;
  margin-bottom: 20px;
}

.textWidthMag {
  width: 209px;
  min-width: 200px;
  font-variation-settings: 'wght' 500 !important;
}

.lineSortMag {
  height: 1px;
  background-color: #EFEFEF;
  width: 90%;
}

/* Categories */

.flexCategories {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 108px;
}

.flexCategories div:nth-child(1) {
  width: 33.33%;
}

.flexCategories div:nth-child(2) {
  width: 33.33%;
}

.flexCategories div:nth-child(3) {
  width: 33.33%;
}

.flexCategories div:nth-child(4) {
  width: 25%;
}

.flexCategories div:nth-child(5) {
  width: 25%;
}

.flexCategories div:nth-child(6) {
  width: 25%;
}

.flexCategories div:nth-child(7) {
  width: 25%;
}

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: repeat(auto-fill, minmax(33.33%, 1fr));
  grid-auto-rows: 20px;
}

.CategoriesPadding {
  padding: 10px;
}

.flexItemCategories {
  width: 100% !important;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  cursor: pointer;
}

.flexItemCategories:hover {
  background-color: rgba(236, 64, 122, 0.04);
}

.arrowCategories {
  text-align: left;
  padding-top: 10px;
}

/* Categories */

.textWidthRecentMag {
  width: 235px;
  min-width: 230px;
}

.lineSortRecentMag {
  height: 1px;
  background-color: #000;
  width: 100%;
}

.textWidthRecentShowMag {
  width: 200px !important;
  min-width: 200px !important;
  border: 1px solid #d9d9d9 !important;
  color: #1d1a22 !important;
}

.flexArticle {
  display: flex;
  justify-content: space-between;
}

.WidthArticleLabelMag {
  /* min-width: 351PX; */
  width: 100%;
  word-break: break-word;
}

.paddingBottom {
  padding-bottom: 36px;
}

.widthImageMag {
  width: 100%;
  height: 100%;
}

.DoctorImage {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}

.paddingBottomMag {
  padding-bottom: 10px;
}

.paddingTopMag {
  padding-top: 12px;
}

.paddingRightMag {
  padding-right: 15px;
  margin-top: 5px;
}

.paddingBottomArticleMag {
  padding-bottom: 150px;
}

.flexArticleMag {
  display: grid;
  column-gap: 25px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


/* style baner  */
.ImpoStaticsMag {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: #f9fbfc;
  text-align: center;
}

.ImpoStaticsItemMag {
  min-height: 150px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 10%;

}

.StaticsNumberMag {
  font-variation-settings: "wght" 600 !important;
  font-size: 40px !important;
}

.StaticTitleMag {
  margin-top: 16px;
  font-size: 28px !important;
}

.btnFlexMobileSize {
  display: none;
}

.distenceMag {
  padding: 1rem;
}




.CardItem {
  min-width: 75% !important;
}


.positionMAg {
  position: relative;
}

.iconStyleClear {
  position: absolute;
  left: 36%;
  z-index: 2;
  top: 14px;
}

.iconStyleSearch {
  position: absolute;
  right: 36%;
  z-index: 2;
  top: 14px
}


.searchMag {
  width: 50%;
  display: flex;
  justify-content: center;
}

.categoriesTextMobileSize {
  font-variation-settings: "wght" 600 !important;
  width: 230px;
}

.articleFrame .coverImage {
  position: relative;
}

.articleFrame .coverImage a {
  display: grid;
}

.articleFrame .coverImage img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  min-height: 211px;
  max-height: 211px;
  transition: 0.5s;
}


.articleFrame:hover.articleFrame .coverImage img {
  border-radius: 25px;
  filter: grayscale(50%);
}

.detailArticle {
  position: absolute;
  bottom: 19px;
  left: 19px;
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.detailArticle>div {
  background-color: #fff;
  padding: 3px 6px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  column-gap: 2px;
}

.detailArticle>div svg {
  color: #938F94;
  width: 20px;
  height: 20px;
}

.articleFrame .authorDetail {
  display: flex;
  align-items: center;
  column-gap: 7px;
  margin-top: 27px;
  cursor: pointer;
}

.articleFrame .title {
  padding-top: 8px;
}

.articleFrame .text {
  margin-top: 5px;
}

.categorySkeleton span {
  margin-left: 20px;
}

.isLoadingCat {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.articleFrame {
  position: relative;
  min-height: 370px;
  max-height: 370px;
}

.articleFrame .authorDetail {
  position: absolute;
  bottom: 0;
}

.urlPost:hover {
  color: #e90b56;
}

.titleSection {
  text-align: center;
  margin-top: 158px;
}

@media (max-width: 768px) {
  .articleFrame {
    min-height: 400px;
    max-height: 400px;
  }

  .titleSection {
    margin-top: 56px;
  }

  .titleSection .title {
    font-size: 16px !important;
    font-variation-settings: "wght" 600 !important;
  }

  .articleHeaderMag {
    padding: 1rem;
  }

  .paddingBottomArticleMag {
    padding-bottom: 20px;
  }

  .flexArticleChildMag {
    margin-left: 10px;
  }

  .flexCategories {
    padding-bottom: 20px;
  }

  .categoriesTextMobileSize {
    font-size: 15px !important;
    width: auto;
  }

  .mainPaddingMag {
    padding: 4rem;
  }


  .iconStyleClear {
    left: 13%;
  }

  .iconStyleSearch {
    right: 13%;
  }

  .StaticTitleMag {
    margin-top: 16px;
    font-size: 13px !important;
    line-height: 3 !important;
    font-variation-settings: "wght" 400 !important;
  }

  .StaticsNumberMag {
    font-variation-settings: "wght" 500 !important;
    font-size: 23px !important;
    line-height: auto !important;
  }

  .textDoctorNameMag {
    font-size: 14px !important;
    font-variation-settings: "wght" 400 !important;
  }

  .labelLike {
    margin: 0;
  }

  .isLoadingCat {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }



  .isLoadingCat span {
    width: 111px !important;
    height: 52px !important;
  }



  .seeAllResponse {
    display: none;
  }

}

@media (max-width: 425px) {

  .seeAllResponse {
    display: block !important;
  }

  .articleFrame {
    min-height: 330px;
    max-height: 330px;
  }

  .seeAllResponse {
    text-align: center;
    margin-top: 24px;
  }

  .textStMag {
    font-size: 36px !important;
  }




  .articleHeaderMag {
    padding: 0;
  }

  .mainPaddingMag {
    padding: 1rem;
  }

  .flexCategories {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 32px;
    overflow-x: scroll;
    gap: 5px;
  }

  .arrowCategories {
    display: none;
  }

  .flexItemCategories {
    word-break: keep-all;
    height: 38px;
    justify-content: center;
  }

  .flexCategories div:nth-child(1) {
    min-width: 130px;
  }

  .flexCategories div:nth-child(2) {
    min-width: 130px;
  }

  .flexCategories div:nth-child(3) {
    min-width: 130px;
  }

  .flexCategories div:nth-child(4) {
    min-width: 130px;
  }

  .flexCategories div:nth-child(5) {
    min-width: 130px;
  }

  .flexCategories div:nth-child(6) {
    min-width: 130px;
  }

  .flexCategories div:nth-child(7) {
    min-width: 130px;
  }

  .flexArticleMag {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

  .flexArticleMag .flexArticleChildMag:nth-child(1) {
    min-width: 280px;
  }

  .flexArticleMag .flexArticleChildMag:nth-child(2) {
    min-width: 280px;
  }

  .flexArticleMag .flexArticleChildMag:nth-child(3) {
    min-width: 280px;
  }

  .lineSortMag {
    display: none;
  }

  .textWidthRecentShowMag {
    display: none !important;
  }

  .textWidthMag {
    font-size: 19px !important;
  }

  .flexArticleMag::-webkit-scrollbar,
  .isLoadingCat::-webkit-scrollbar,
  .flexCategories::-webkit-scrollbar {
    display: none;
  }

  .textDoctorNameMag {
    font-size: 12px !important;
    font-variation-settings: "wght" 400 !important;
  }

  .btnMobileSize {
    width: 200px;
    min-width: 200px;
    border: 1px solid #1C1B1E !important;
    color: #1d1a22 !important;
    font-size: 14px !important;
    font-variation-settings: "wght" 400 !important;
  }

  .btnFlexMobileSize {
    display: flex;
    justify-content: center;
    padding-top: 24px;
  }

  .paddingBottom {
    padding-bottom: 0;
  }

  .CategoriesPadding {
    padding: 0;
  }

  .iconStyleClear {
    left: 15%;
  }

  .iconStyleSearch {
    right: 14%;
  }

  .boxLike {
    display: flex;
    top: 75%;
  }

  .styleIcon {
    font-size: 17px;
  }

  .detailArticle>div {
    padding: 3px !important;
  }

  .detailArticle>div span {
    font-size: 12px !important;
    line-height: 1 !important;
  }

  .detailArticle {
    left: 9px;
    bottom: 9px;
  }

  .articleFrame .coverImage img {
    min-height: 170px;
    max-height: 170px;
  }

  .articleFrame .title {
    padding-top: 8px;
    font-size: 15px !important;
    font-variation-settings: "wght" 600 !important;
  }

  .articleFrame .text {
    font-variation-settings: "wght" 300 !important;
    font-size: 13px !important;
    margin-top: 5px;
  }
}

@media (max-width: 1440px) {
  .mainPaddingMag {
    padding: 56px 1rem 0 1rem;
  }

  .ImpoStaticsItemMag {
    padding: 0;
  }
}