.paddingBottomCalendar {
  padding-top: 20px;
  padding-bottom: 30px;
}

/* .styleArticle {
  padding-top: 140px;
} */

.textAlignCenterCalendar {
  text-align: center;
}

.flex_Calendar {
  display: flex;
  justify-content: center;
  padding: 0 300px;
  border-top: 1px solid #efefef;
}

.flexCalender_flex {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-right: 1px solid #efefef;
  border-left: 1px solid #efefef;
  border-top: 0;
  border-bottom: 0;
}

.styleTex1Calendar {
  padding: 20px;
}

.styleMobileSizeCalendar {
  padding-bottom: 20px;
  font-size: 22px !important;
  font-variation-settings: "wght" 600 !important;
  color: #5b595c !important;
}

.ImageStyleHeaderCalender {
  width: 70% !important;
  height: 100% !important;
  object-fit: contain;
}

.buttomStyleSlider1Calendar {
  width: 200px;
  border: 1px solid #ec407a;
  color: #fff;
  background-color: #ec407a;
  margin: 5px;
}

.buttomStyleSlider1Calendar:hover {
  color: #fff;
  background-color: #a74465 !important;
}

.buttomStyleSliderActiveCalendar {
  width: 200px;
  border: 1px solid #ec407a;
  color: #ec407a;
  margin: 5px;
}

.buttomStyleSliderActiveCalendar:hover {
  color: #fff;
  background-color: #a74465 !important;
}

.sliderBoxCalendar {
  background-color: #efefef;
  width: 100%;
  padding: 5rem 1rem 5rem 0.6rem;
  display: flex;
  flex-direction: column;
}

.PaddingTopCalendar {
  padding-top: 40px;
}

.widthImageSliderCalendar {
  width: 100%;
  height: 100%;
}

.flexSliderSwiperCalendar {
  display: flex;
  align-items: flex-end;
  height: 90%;
  width: 100%;
  padding-right: 10px;
}

.FlexArrowBtnSliderCalendar {
  position: absolute;
  left: 7rem;
  top: 0.8rem;
}

.buttomArrowSliderNextCalendar {
  background-color: transparent;
  border: 1px solid #ec407a;
  border-radius: 5px;
  margin-right: 5px;
  height: fit-content;
  padding: 2px;
  color: #ec407a;
  width: 30px;
  height: 30px;
}

.buttomArrowSliderPrevCalendar {
  background-color: transparent;
  border: 1px solid #ec407a;
  border-radius: 5px;
  height: fit-content;
  padding: 2px;
  color: #ec407a;
  width: 30px;
  height: 30px;
}

.colorText1Calender {
  color: #01b1a4;
}

.colorText2Calender {
  color: #c32f91;
}

.colorText3Calender {
  color: #7f47bf;
}

.textStyleCalendar {
  font-size: 64px;
  font-variation-settings: "wght" 600;
}

.textStyleHeader {
  font-size: 26px !important;
  color: #5b595c !important;
  font-variation-settings: "wght" 500 !important;
}

.textImpoColor {
  color: #ec407a;
  padding-right: 7px;
}

.sliderCalender {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sliderFlexCalender {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.paddingBottomDesktio {
  padding-bottom: 50px;
}

.styletextHeaderCalendar {
  font-size: 36px !important;
  padding-top: 30px;
  padding-bottom: 30px;
}

.videoAparat {
  width: 100%;
  margin: 70px 0 !important;
  padding: 70px 352px;
  background: #F6F6F6;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.contentVideo {
  display: grid;
  align-content: center;
}

.videoAparat img {
  width: 100%;
  height: 100%;
}

.videoAparat video {
  width: 100%;
  height: 357.461px;
  border: none;
}

.loadingBox {
  position: relative;
}

.circleLoading {
  position: absolute;
  top: 0;
  bottom: 9px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentVideo {
  padding-left: 19px;
  margin-left: 29px;
  border-left: 1px solid #B6B6B6;
  height: 100%;
}

.contentVideo h2 {
  color: #1C1B1E;
  font-size: 42px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: -1.68px;
  margin: 0;
}

.contentVideo h2 span {
  color: #EC407A;
  font-weight: 600;
}

.contentVideo p {
  color: #313033;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.96px;
  margin: 16px 0 0 0 !important;
}

.calendarHero {
  padding: 178px 15vw 0 15vw;
  background: linear-gradient(180deg, #FFD9EC -15.54%, rgba(255, 223, 239, 0.00) 100%);
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  margin-bottom: -9px;

}

.calendarHero h1 {
  font-size: 50px;
  font-variation-settings: "wght" 450 !important;
  line-height: 72px;
  letter-spacing: -2.16px;
  margin: 0 0 16px 0;
}

.calendarHero h1 span {
  background-color: #EC407A;
  color: #ffff;
  border-radius: 16px;
  padding: 0 10px;
}

.calendarHero p {
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.96px;
  margin: 0;
}

.calendarHero .imageHero {
  width: 100%;
  height: 100%;
}

@media (max-width: 900px) {
  .textAlignLeftCalendar {
    margin-left: 0;
  }

  .fontStyleLabelCalendar {
    display: block;
    text-align: center;
  }

  .Article2Calendar {
    padding: 2rem;
  }

  .positionText3Calendar {
    display: none;
  }
}

@media (max-width: 425px) {
  .styleArticle {
    padding-top: 30px;
  }

  .ArticleCalendar {
    padding: 1rem;
  }

  .textAlignLeftCalendar {
    margin-left: 0;
  }

  .fontStyleLabelCalendar {
    display: block;
    text-align: center;
  }

  .fontStylespanCalendar {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 100;
  }

  .Section1Calendar {
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    padding: 1rem;
  }

  .positionText3Calendar {
    display: none;
  }

  .FullWidthCalendar {
    width: 100%;
  }

  .styleTex1Calendar {
    font-size: 24px !important;
    padding: 10px 5px 0px 5px;
  }

  .styleMobileSizeCalendar {
    font-size: 14px !important;
    padding: 0;
  }

  .styleMobileSizeText1Calendar {
    font-size: 16px !important;
    font-variation-settings: "wght" 600 !important;
  }

  .styleMobileSizeText2Calendar {
    font-size: 13px !important;
    font-variation-settings: "wght" 300 !important;
  }

  .textAlignCenterMobileSizeCalendar {
    width: 100%;
    text-align: center I !important;
  }

  .paddingBottomCalendarCalendar {
    padding-bottom: 40px;
  }

  .Section1Calendar {
    padding: 0;
  }

  .widthImageSliderCalendar {
    width: 70%;
  }

  .FlexArrowBtnSliderCalendar {
    display: none;
  }

  .textCalendar {
    font-size: 16px !important;
    font-variation-settings: "wght" 600 !important;
  }

  .textLsiderCalendar {
    font-size: 12px !important;
    font-variation-settings: "wght" 4 00 !important;
  }

  .textSliderLevelCalendar {
    font-size: 16px !important;
    font-variation-settings: "wght" 600 !important;
    line-height: 40px !important;
  }

  .textSliderTextCalendar {
    font-size: 12px !important;
    font-variation-settings: "wght" 400 !important;
    word-break: break-word;
    width: 200px;
    line-height: 16px !important;
    min-height: 80px;
  }

  .buttomStyleSlider1Calendar {
    width: 154px;
    height: 40x;
  }

  .buttomStyleSliderActiveCalendar {
    width: 154px;
    height: 40x;
  }

  .ImpoText1Calendar {
    font-size: 36px !important;
    font-variation-settings: "wght" 600 !important;
  }

  .ImpoText2Calendar {
    font-size: 16px !important;
    font-variation-settings: "wght" 400 !important;
  }

  .imageStyle {
    border: none;
    /* border-bottom: 1px solid #EFEFEF; */
    padding: 0px 50px 0px 50px;
  }

  .ImageStyleHeader {
    width: 70% !important;
    height: 100% !important;
  }

  .PaddingTopCare {
    padding-bottom: 20px;
  }

  .textStyleCalendar {
    font-size: 24px;
    font-variation-settings: "wght" 600 !important;
  }

  .textStyleHeader {
    font-size: 14px !important;
    font-variation-settings: "wght" 300 !important;
  }

  .paddingBottom {
    padding-bottom: 50px;
  }

  .paddingTop {
    padding-top: 30px;
  }

  .border {
    border: 1px solid #f2f2f2;
  }

  .ParentGride {
    padding-top: 48px;
  }

  .styletextHeaderCalendar {
    font-size: 20px !important;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .textSliderTextCare {
    font-size: 12px !important;
    line-height: 24px !important;
    padding-bottom: 45px;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .Dividerstyle1 {
    display: block;
    width: 100vw !important;
  }

  .Dividerstyle2 {
    display: block;
    width: 100vw !important;
    margin-bottom: 20px !important;
  }

  .Dividerstyle2 {
    margin-top: 40px;
  }

  .calendarHero {
    grid-template-columns: 1fr;
    margin-top: -95px;
    padding-top: 185px !important;
  }

  .calendarHero h1 {
    font-variation-settings: "wght" 450 !important;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -0.88px;
    text-align: center;
  }

  .calendarHero p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.64px;
    margin: 0;
    text-align: center;
    margin-bottom: 27px;

  }
}

@media (max-width: 768px) {
  .FlexSliderCalendar {
    flex-direction: column;
    text-align: center;
  }

  .PaddingTopCalendar {
    display: none;
  }

  .styleSmallSizeCalendar {
    display: block;
  }

  .widthImageSliderCalendar {
    max-width: 100%;
  }

  .flexCalender_flex {
    padding: 0 !important;
  }

  .videoAparat video {
    width: 100%;
    height: 400px;
  }

  .videoAparat {
    grid-template-columns: 1fr;
    padding: 27px 37px !important;
  }

  .contentVideo {
    padding-left: 0;
    margin-left: 0;
    border-left: none;
    height: 100%;
  }

  .contentVideo h2 {
    text-align: center;
    font-size: 24px;
  }

  .contentVideo h2 span {
    color: #EC407A;
    font-weight: 600;
  }

  .contentVideo p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.56px;
    text-align: center;
    margin: 0 !important;
  }

  .frameTxt {
    margin-bottom: 16px;
  }

  .videoAparat video {
    width: 100%;
    height: 183.276px;
  }
}

@media (max-width: 1440px) {
  .calendarHero {
    padding: 178px 5vw 0 5vw;
  }

  .flex_Calendar {
    padding: 0 5vw;
  }

  .videoAparat {
    padding: 70px 5vw;
  }
}