.paddingBottomCare {
  padding-top: 40px;
  padding-bottom: 40px;
}

.textAlinghnRight {
  text-align: right;
}

.textAlignCenterCare {
  text-align: center;
}

.paddingCare {
  padding: 80px;
}

.paddingTextCare {
  padding: 40px;
  text-align: right;
  border-radius: 24px;
  margin-bottom: 30px;
}

.paddingTop {
  padding-top: 140px;
}

.paddingTextCare:hover {
  background-color: #ffecee;
  border-radius: 24px;
  cursor: pointer;
}

.styleTex1Care {
  padding: 20px;
}

.styleMobileSizeCare {
  padding-bottom: 20px;
  font-size: 22px !important;
  font-variation-settings: "wght" 600 !important;
  color: #5b595c !important;
}

.ImageStyleFixCare {
  width: 70% !important;
  height: 70% !important;
}

.ImageStyleFixCareInCareMouseEnter {
  width: 442px !important;
  height: 841px !important;
}

.buttomStyleSlider1Care {
  width: 200px;
  border: 1px solid #ec407a;
  color: #fff;
  background-color: #ec407a;
  margin: 5px;
}

.buttomStyleSlider1Care:hover {
  color: #fff;
  background-color: #a74465 !important;
}

.buttomStyleSliderActiveCare {
  width: 200px;
  border: 1px solid #ec407a;
  color: #ec407a;
  margin: 5px;
}

.buttomStyleSliderActiveCare:hover {
  color: #fff;
  background-color: #a74465 !important;
}

.sliderBoxCare {
  background-color: #efefef;
  width: 100%;
  padding: 5rem 1rem 5rem 0.6rem;
  display: flex;
  flex-direction: column;
}

.PaddingTopCare {
  padding-top: 40px;
}

.widthImageSliderCare {
  width: 100%;
  height: 100%;
}

.flexSliderSwiperCare {
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  padding-right: 10px;
}

.FlexArrowBtnSliderCare {
  position: absolute;
  left: 0;
}

.buttomArrowSliderNextCare {
  background-color: transparent;
  border: 1px solid #ec407a;
  border-radius: 5px;
  margin-right: 5px;
  height: fit-content;
  padding: 2px;
  color: #ec407a;
  width: 30px;
  height: 30px;
}

.buttomArrowSliderPrevCare {
  background-color: transparent;
  border: 1px solid #ec407a;
  border-radius: 5px;
  height: fit-content;
  padding: 2px;
  color: #ec407a;
  width: 30px;
  height: 30px;
}

.paddingTopText {
  padding: 50px;
}

.flexCareSlider {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  column-gap: 100px;
  padding: 50px 120px;
  text-align: center;
}

.flexCare {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Dividerstyle1 {
  display: none;
}

.Dividerstyle2 {
  display: none;
}

.textCareSortTabletSize {
  padding-top: 32px;
  font-variation-settings: "wght" 400 !important;
}

.textCareSort {
  font-variation-settings: "wght" 500 !important;
}

.paddingTextCare.item1,
.paddingTextCare.item2 {
  background-color: var(--primary-95);
  transition: 0.2s;
  cursor: pointer;
}

.paddingTextCare.item1 .textCareSort,
.paddingTextCare.item2 .textCareSort {
  color: #EC407A;
}

.titleSection {
  text-align: center;
  margin-top: 150px;
}


@media (max-width: 900px) {
  .textAlignLeftCare {
    margin-left: 0;
  }

  .fontStyleLabelCare {
    display: block;
    text-align: center;
  }

  .Article2Care {
    padding: 2rem;
  }

  .positionText3Care {
    display: none;
  }

  .textCareSort {
    font-size: 24px !important;
  }

  .textCareSortTabletSize {
    font-size: 15px !important;
    font-variation-settings: "wght" 400 !important;
  }

  .styleTextCare {
    font-size: 20px !important;
  }

  .ImageStyleFixCareInCareMouseEnter {
    width: 100% !important;
    height: 100% !important;
    padding-top: 10px;
  }
}

@media (max-width: 425px) {
  .titleSection {
    margin-top: 56px;
  }

  .ArticleCare {
    padding: 1rem;
  }

  .textAlignLeftCare {
    margin-left: 0;
  }

  .fontStyleLabelCare {
    display: block;
    text-align: center;
  }

  .fontStylespanCare {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 100;
  }

  .Section1Care {
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    padding: 1rem;
  }

  .positionText3Care {
    display: none;
  }

  .FullWidthCare {
    width: 100%;
  }

  .styleTex1Care {
    font-size: 20px !important;
    padding: 10px 5px 0px 5px;
  }

  .styleMobileSizeCare {
    font-size: 14px !important;
    padding: 0;
  }

  .styleMobileSizeText1Care {
    font-size: 16px !important;
    font-variation-settings: "wght" 600 !important;
  }

  .styleMobileSizeText2Care {
    font-size: 13px !important;
    font-variation-settings: "wght" 300 !important;
  }

  .textAlignCenterMobileSizeCare {
    width: 100%;
    text-align: center I !important;
  }

  .paddingBottomCareCare {
    padding-bottom: 40px;
  }

  .Section1Care {
    padding: 0;
  }

  .widthImageSliderCare {
    width: 70%;
    padding-bottom: 50px;
  }

  .gridTextAlignh {
    text-align: center;
    margin-top: 16px;
  }

  .FlexArrowBtnSliderCare {
    display: none;
  }

  .textCare {
    font-size: 16px !important;
    font-variation-settings: "wght" 600 !important;
  }

  .textLsiderCare {
    font-size: 12px !important;
    font-variation-settings: "wght" 4 00 !important;
  }

  .textSliderLevelCare {
    font-size: 16px !important;
    font-variation-settings: "wght" 600 !important;
    line-height: 40px !important;
  }

  .styletextinslider {
    font-size: 20px !important;
    font-variation-settings: "wght" 500 !important;
    padding-bottom: 8px !important;
  }

  .textSliderTextCare {
    font-size: 14px !important;
    font-variation-settings: "wght" 400 !important;
    line-height: 25px !important;
    min-height: 50px;
    padding-bottom: 16px !important;
  }

  .moreInfoCalender {
    color: #EC407A !important;
    border-bottom: 1px solid #EC407A !important;
    border-radius: 0 !important;
    padding: 0 0 5px 0 !important;
    display: block !important;
  }

  .flexMoreInformation {
    display: flex;
    align-items: center;
    min-height: 60px;
  }

  .buttomStyleSlider1Care {
    width: 154px;
    height: 40x;
  }

  .buttomStyleSliderActiveCare {
    width: 154px;
    height: 40x;
  }

  .ImpoText1Care {
    font-size: 36px !important;
    font-variation-settings: "wght" 600 !important;
  }

  .ImpoText2Care {
    font-size: 16px !important;
    font-variation-settings: "wght" 400 !important;
  }

  .paddingTop {
    padding-top: 90px;
  }

  .Dividerstyle1 {
    display: block;
    width: 100vw !important;
  }

  .Dividerstyle2 {
    display: block;
    width: 100vw !important;
    margin-bottom: 20px !important;
  }

  .paddingTopText {
    padding: 56px 0 24px 0;
    font-size: 19px !important;
    line-height: 25px !important;
  }

  .PaddingTopCare {
    padding-top: 0;
  }
}

@media (max-width: 768px) {
  .FlexSliderCare {
    flex-direction: column;
    text-align: center;
  }

  .styleSmallSizeCare {
    display: block;
  }

  .widthImageSliderCare {
    max-width: 100%;
  }

  .titleSection span {
    font-size: 19px !important;
    font-variation-settings: "wght" 600 !important;
  }
}

@media (max-width: 1440px) {
  .flexCareSlider {
    padding: 50px;
  }
}
