.careerMain {
    padding: 175px 10rem;
}

.careerMain h3 {
    text-align: center;

}

.jobs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px 40px;
    margin-top: 54px;
}

@media (max-width: 768px) {
    .jobs {
        grid-template-columns: 1fr;
    }

    .careerMain {
        padding: 100px 1rem;
    }

  
}