:root {


    --primary-0: #000000;
    --primary-10: #3F0018;
    --primary-20: #66002B;
    --primary-30: #8F003F;
    --primary-40: #B80F55;
    --primary-50: #DB326E;
    --primary-60: #FD4E87;
    --primary-70: #FF85A4;
    --primary-80: #FFB1C2;
    --primary-90: #FFD9DF;
    --primary-95: #FFECEE;
    --primary-99: #FFFBFF;
    --primary-100: #FFFFFF;
    /* primary end */

    /* secondary start */
    --secondary-0: #000000;
    --secondary-10: #261A00;
    --secondary-20: #3F2E00;
    --secondary-30: #5B4300;
    --secondary-40: #795900;
    --secondary-50: #977100;
    --secondary-60: #B78A00;
    --secondary-70: #D8A300;
    --secondary-80: #F9BD10;
    --secondary-90: #FFEFD4;
    --secondary-95: #FFEEDE;
    --secondary-99: #FFFBFF;
    --secondary-100: #FFFFFF;
    /* secondary end */


    /* error start */
    --error-0: #000000;
    --error-10: #410002;
    --error-20: #690005;
    --error-30: #93000A;
    --error-40: #BA1A1A;
    --error-50: #DE3730;
    --error-60: #FF5449;
    --error-70: #FF897D;
    --error-80: #FFB4AB;
    --error-90: #FFDAD6;
    --error-95: #FFEDEA;
    --error-99: #FFFBFF;
    --error-100: #FFFFFF;
    /* error end */


    /* neutral start */
    --neutral-0: #000000;
    --neutral-10: #1C1B1E;
    --neutral-20: #313033;
    --neutral-30: #48464A;
    --neutral-40: #605D62;
    --neutral-50: #79767A;
    --neutral-60: #938F94;
    --neutral-70: #AEAAAE;
    --neutral-80: #CAC5CA;
    --neutral-90: #E6E1E6;
    --neutral-95: #F4EFF4;
    --neutral-99: #FFFBFF;
    --neutral-100: #FFFFFF;
    /* neutral end */


    /* neutral_variants start */
    --neutral_variants-0: #000000;
    --neutral_variants-10: #1D1A22;
    --neutral_variants-20: #322F38;
    --neutral_variants-30: #49454E;
    --neutral_variants-40: #615D66;
    --neutral_variants-50: #7A757F;
    --neutral_variants-60: #948F99;
    --neutral_variants-70: #AFA9B4;
    --neutral_variants-80: #CAC4CF;
    --neutral_variants-90: #E7E0EB;
    --neutral_variants-95: #F5EEFA;
    --neutral_variants-99: #FFFBFF;
    --neutral_variants-100: #FFFFFF;
    /* neutral_variants end */


    /* start light colors  */

    /* primary light start */
    --primary: var(--primary-40);
    --onPrimary: var(--primary-80);
    --primaryContainer: var(--primary-90);
    --onPrimaryContainer: var(--primary-10);
    /* primary light end */

    /* secondary light start */
    --secondary: var(--secondary-40);
    --onSecondary: var(--secondary-100);
    --secondaryContainer: var(--secondary-90);
    --onSecondaryContainer: var(--secondary-10);
    /* secondary light end */


    /* error light start */
    --error: var(--error-40);
    --onError: var(--error-100);
    --errorContainer: var(--error-90);
    --onErorContainer: var(--error-10);
    /* error light end */

    /* neutral light start */
    --neutral: var(--neutral-99);
    --onBackground: var(--neutral-10);
    --surface: var(--neutral-99);
    --onSurface: var(--neutral-10);
    /* neutral light end */


    /* neutral_variants light start */
    --neutral_variants: var(--neutral_variants-90);
    --onSurfaceVariant: var(--neutral_variants-30);
    --outline: var(--neutral_variants-50);
    /* neutral_variants light end */

    /* end light colors  */

}