.bannerContact {
    display: grid;
    grid-template-columns: 55% 45%;
    height: 65vh;
}

.bannerContact .cover {
    width: 100%;
    height: 100%;
}

.bannerContact .text {
    padding-right: 10rem;
    background-color: #FFF2D4;
    display: grid;
    align-items: center;
    align-content: center;
    row-gap: 24px;
    padding-left: 96px;
}

.bannerContact .text .title {
    display: flex;
    column-gap: 20px;
}

.formContact {
    margin-top: 66px !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 110px;
}

.formContact .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 20px;
}

.formContact .text {
    margin-top: 40px !important;
}

.sendForm {
    text-align: center;
    margin-top: 24px;
}

.sendForm button {
    width: 40%;
}

.infoItems {
    margin-top: 47px;
}

.supportItem {
    display: flex;
    gap: 0 8px;
    margin-bottom: 47px;
}

.supportItem h4 {
    color: #1F1F1F;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.96px;
    margin: 0 0 8px 0;
}

.supportItem a {
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: -0.96px;
}

@media(max-width: 768px) {
    .bannerContact {
        grid-template-columns: 1fr;
    }

    .logoType {
        width: 93px;
        height: 38px;
    }

    .bannerContact .text {
        padding: 120px 20px 24px 20px;
        text-align: center;
        row-gap: 0;
    }

    .bannerContact .title {
        justify-content: center;
        align-items: center;
        column-gap: 10px !important;
    }

    .formContact {
        grid-template-columns: 1fr;
        row-gap: 44px;
    }

    .logoType {
        width: 94px;
        height: 39px;
    }

    .formContact .info {
        grid-template-columns: 1fr;
    }

    .supportItem .item {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .supportItem * {
        font-size: 16px !important;
    }

    .supportItem {
        margin-bottom: 16px;
    }

    .contactInfo {
        margin-bottom: 64px;
    }

    .titleSlogan {
        font-size: 32px !important;
    }

}