.doctorPage {
    padding-top: 210px;
}

.titlePage {
    margin-top: 24px !important;
    font-size: 40px !important;
    margin-bottom: 56px !important;
}


/* content */
.contentDivider {
    border-left: 1px solid #F2F2F2;
    padding-left: 32px;
}



/* sidbar */

.doctorSidbar {
    padding-right: 16px;
    position: sticky;
    top: 20px;
}

.doctorSidbar img {
    width: 100%;
    height: auto;
}

.doctorInfo {
    text-align: center;
}

.doctorInfo .images {
    position: relative;
}

.doctorInfo .profileImage {
    width: 110px;
    height: 110px;
    background-color: #fff;
    padding: 10px;
    border-radius: 100px;
    position: absolute;
    bottom: -40px;
    right: 36%;
}


.doctorInfo h4 {
    margin-bottom: 3px;
    margin-top: 40px;
}

.doctorInfo p {
    margin-top: 16px;
}

.bannerSidbar .btnBox {
    text-align: center;
}

.bannerSidbar .btnBox button {
    padding: 8px 16px;
    color: #EC407A;
    border: 1px solid #EC407A;
    margin-top: 11px;
}

.bannerSidbar .btnBox button:hover {
    background-color: unset;
    color: #EC407A;
}

.bannerSidbar {
    text-align: center;
    padding: 22px 31px;
    background-color: #F9FBFC;
    border-radius: 20px;
    margin-top: 56px;
}

.bannerDivider {
    margin: 23px 16px !important;
}

.bannerSidbar img {
    margin-top: 24px;
}

.titleSection {
    margin-top: 245px;
    text-align: center;
}

.skeleton {
    display: grid;
    grid-template-columns: 25% 1fr;
}

.skeleton span {
    margin: 10px 0;
    border-radius: 5px;
}

.skeletonCat {
    border-radius: 30px;
    margin: 2px;
}

.pagination {
    display: flex;
    justify-content: center;
}

/* box donlowed */
.downloadApp {
    text-align: center;
    margin-top: 56px !important;
}

.downloadApp .frame {
    background: #F9FBFC;
    border-radius: 20px;
    padding: 27px 27px 0 27px;
    margin-top: 20px;
}

.downloadApp .frame .logoType {
    width: 122px;
    margin-bottom: 4px;
    object-fit: contain;
}

.downloadApp .frame span {
    margin-bottom: 24px;
    display: block;
}

.downloadApp .mockap {
    width: 100%;
    height: 100%;
    margin-bottom: -12px;
}

.downloadApp .frame a {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding: 6px 12px;
    border: 2px solid #EFEFEF;
    border-radius: 8px;
    margin-bottom: 8px;
    column-gap: 8px;
}

.downloadApp .frame a img {
    width: 20px;
    height: 20px;
}

.downloadApp .frame a:hover {
    background-color: #dedede;
}

@media (max-width: 768px) {
    .doctorInfo .profileImage {
        right: 34%;
    }

    .doctorSidbar {
        padding-right: 0;
    }

    .doctorPage {
        padding-top: 130px;
    }

    .titleSection {
        margin-top: 40px;
    }

    .titleSection .title {
        font-size: 16px !important;
    }

    .titlePage {
        margin: 16px 0 24px 0 !important;
        font-size: 24px !important;
        line-height: 28px !important;
    }
}
