.downloader {
    background: linear-gradient(228deg, #ffdcf5, rgba(246, 228, 255, .6) 58.1%, rgba(255, 229, 238, 0));
    min-height: 100vh;
    width: 100%;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    position: relative;
    text-align: center;
    justify-content: center;
    flex-flow: column;
}

.downloader p {
    font-size: 25px;
    row-gap: 15px;
}