.main {
    padding-top: 140px !important;
}

.titlePage {
    text-align: center;
}

.downloadBox {
    margin-top: 33px;
    border-radius: 24px;
    background: #FFF3F7;
    border: 1px solid #EC407A;
    padding: 48px 42px 0 0;
    display: grid;
    grid-template-columns: 65% 1fr;
    overflow: hidden;
    justify-items: right;
}

.womanDownload {
    text-align: right;
}

.downloadBox img {
    border-radius: 24px;
    position: relative;
    top: 10px;
}


.button {
    padding: 17px 21px !important;
    display: grid !important;
    grid-template-columns: 1fr auto;
    width: 100%;
}

.downloads {
    width: 100%;
}

.downloads .title {
    text-align: right;
    margin-bottom: 40px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 37px;
}

.textBtn {
    font-size: 24px !important;
    font-variation-settings: "wght" 400 !important;
}

.helpImage {
    padding: 0 10rem;
}

.manDownload {
    margin-top: 80px;
}

.helpText {
    text-align: right;
    margin-top: 24px !important;
    color: #5B595C;
}

.helpText::before {
    content: "●";
    margin-left: 5px;
}

.copyTitle,
.copyTitle2 {
    text-align: right;
    margin-top: 80px !important;
    color: #5B595C;
}

.copyTitle::before {
    content: "۱ .";
    margin-left: 5px;
}

.copyTitle2:before {
    content: "۲ .";
    margin-left: 5px;
}

.copyIcon {
    margin-left: 8px !important;
    margin-right: 0 !important;
}

.link {
    color: #5B595C;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.copyBox {
    margin-top: 32px;
    margin-bottom: 24px;
    border-radius: 16px;
    border: 1px solid #EC407A;
    background: #FFF3F7;
    padding: 18px 16px;
    display: flex;
    justify-content: space-between;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    direction: ltr;
}

.imageFrame {
    width: 100%;
    text-align: left;
}

.images img {
    width: 20vw;
    height: auto;
}

@media (max-width: 768px) {
    .downloadPage {
        display: none;
    }

    .downloadBox {
        grid-template-columns: 1fr;
        padding: 48px 42px;
    }

    .buttons {
        grid-template-columns: 1fr;
    }

}

@media (max-width: 1440px) {
    .helpImage {
        padding: 0 2rem;
    }

}

@media (max-width: 450px) {
    .titlePage {
        font-size: 24px !important;
    }

    .downloads .title {
        font-size: 18px !important;
        font-weight: 500 !important;
        text-align: center;
        margin-bottom: 16px;
    }

    .downloadBox {
        padding: 21px 39px;
    }

    .buttons {
        gap: 12px;
    }

    .button {
        padding: 8px 11px !important;
    }

    .textBtn {
        font-size: 14px !important;
    }

    .manDownload {
        margin-top: 31px;
    }

    .endIcon {
        margin-right: 0;

    }

    .endIcon svg {
        width: 24px;
    }

    .helpText {
        font-size: 12px !important;
        text-align: center;
        margin-top: 12px;
    }

    .copyTitle {
        margin-top: 32px;
        font-size: 16px;
        text-align: center;
    }

    .copyBox {
        display: block;
        padding: 10px 15px;
    }

    .copy {
        text-align: left;
        margin-top: 5px;
    }

    .copyTitle2 {
        text-align: center;
        font-size: 16px;
        margin-top: 32px;
    }

    .images {
        justify-content: unset;
        display: grid;
        grid-auto-flow: column;
        overflow-x: scroll;
        direction: rtl;

    }

    .images img {
        width: 60vw;
    }

    .helpImage {
        padding: 0;
    }
}