.header {
    padding: 20px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sloganImpo {
    margin: 0;
    font-weight: 500;
    line-height: 13.502px;

}

.content {
    margin-top: 32px;
    margin-bottom: 40px;

}

.content section {
    padding: 0 16px;
}

.content h2 {
    margin: 0;
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: -0.64px;
}

.content p {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.48px;
    margin: 5px 0;
    text-align: justify;
}

.content p span {
    color: #EC407A;
}

.userInfo {
    padding: 25px 8px !important;
    border-radius: 16px;
    background: #F9F9F9;
    margin: 9px 16px;
}

.inputFrame {
    position: relative;
    margin: 5px 0;
}

.inputFrame label {
    position: absolute;
    bottom: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    width: 100;
    left: 45%;
}

.field {
    margin-bottom: 1rem;
}

.iconInput {
    position: absolute;
    left: 15px;
    bottom: 0;
    top: 0;
    height: 100% !important;
}

.impoPossibilities {
    padding: 0 !important;
}

.impoPossibilities h3 {
    margin: 42px 0 8px 0;
    text-align: center;
    color: #1F1F1F;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.64px;
}

.impoPossibilities .mockapPreg {
    width: 70%;
    height: auto;
    margin-bottom: -9px;
}

.impoPossibilities .imageFrame {
    text-align: left;
}

.impoPossibilities .item {
    background-color: #F9F9F9;
    padding: 20px 17px 0 17px;
    margin-bottom: 8px;
}

.impoPossibilities .item h4 {
    color: #1C1B1E;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 18.378px;
    letter-spacing: -0.6px;
    margin: 0;
}

.impoPossibilities .item p {
    color: #5B595C;
    line-height: 24px;
}



/* inputs */
.inputImpo {
    padding: 13px 16px;
    border: 1px solid #EFEFEF;
    border-radius: 100px;
    background-color: #ffffff;
    font-family: inherit;
    font-size: 15px;
    -webkit-text-size-adjust: none;
}

.inputImpo span:focus-visible {
    border-color: #EC407A !important;
    outline: 0;
}

/* 
.inputImpo .day {
    position: absolute;
    right: 0;
    width: 90%;
    bottom: 12px;
}

.inputImpo .day:focus-visible {
    outline: 0;
} */

.increment {
    position: absolute;
    right: 1rem;
    top: 0;
    bottom: 0;
    height: 100% !important;
}

.decrement {
    position: absolute;
    left: 1rem;
    top: 0;
    bottom: 0;
    height: 100% !important;
}

.decrement.disabled {
    opacity: 0.3;
    user-select: none;
    pointer-events: none;
}

.dayOfOvulation .day {
    margin: 16px 0;
    border-radius: 12px;
    background: #FDECF7;
    padding: 27px 0;
    text-align: center;
    display: grid;
    justify-content: center;
}


.dayOfOvulation .day p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.52px;
}


.dayOfOvulation .day span {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.52px;
    margin-top: 10px;
}

.impoDownload p {
    color: #1C1B1E;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.56px;
    text-align: center;
}

.impoDownload {
    margin: 16px 0;
    border-radius: 12px;
    background: #FDECF7;
    padding: 30px 10px 0 10px;
    text-align: center;
}

.impoDownload h2 {
    color: #1C1B1E;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.8px;
}

.impoDownload h2 span {
    color: #EC407A;
}

.downloads {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 16px;
    row-gap: 9px;
    column-gap: 14px;
}

.downloads .image {
    width: 24px;
    height: 24px;
}

.downloads a {
    border-radius: 8px;
    border: 1px solid #FFBBE7;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}

.appDownload {
    width: 100%;
    height: auto;
    margin-top: 33px;
    margin-bottom: -9px;
}

.bottomSheet {
    transform: translateY(50rem);
    background-color: #fff;
    z-index: 9999999999;
    padding: 18px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.modal {
    display: none;
    position: fixed;
    bottom: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.20);
    transition: all 1s;
}

.bottomSheet h3 {
    color: #1C1B1E;
    text-align: right;
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.52px;
    margin-top: 0;
}

.bottomSheet .buttons {
    display: flex;
    column-gap: 10px;
    margin-top: 2rem;
}


/*  */

.scrollPicker {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10vw;
    padding: 0 28px;
}

.scrollPicker_line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.scrollPicker_line span {
    display: block;
    width: 100%;
    height: 37px;
    border-radius: 8px;
    background: #F9F9F9;

}