@import url("color.css");


html,
body {
  padding: 0 !important;
  margin: 0 !important;
  direction: rtl;
  letter-spacing: -0.04em;
  margin: 0 !important;
  /* scroll-behavior: smooth !important; */
  scrollbar-width: 0px !important;

}

a {
  color: inherit;
  text-decoration: none;
  letter-spacing: -0.04em !important;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 0 10rem;
  letter-spacing: -0.04em !important;
  margin: 0 !important;
}



img {
  object-fit: cover;
}

input {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 90px;
  outline: none !important;
  border: 1px solid #9f97d9;
  padding: 12px 24px;
  margin: 2px;
  font-variation-settings: "wght" 400;
  width: 100%;
}

pre {
  white-space: break-spaces;
}

select {
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 90px;
  outline: none !important;
  border: 1px solid #9f97d9;
  padding: 12px 24px;
  margin: 2px 5px;
  font-variation-settings: "wght" 400;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  caret-color: transparent;
  letter-spacing: -0.04em;
}

li {
  list-style: none;
}

.notShowIframe {
  display: none;
}

.showIframe {
  display: block;
}


.swiperWhyMen {
  padding-bottom: 2rem !important;
  z-index: 2;
}




.swiperWhyMen .swiper-pagination-bullet-active,
.swiperWhyImpo .swiper-pagination-bullet-active {
  background-color: var(--neutral-60);
  width: 14px;
  height: 14px;
  position: relative;
  bottom: 1px;
  vertical-align: middle;
}

.swiperWhyImpo {
  padding-bottom: 40px !important;
}

.swiperBlog {
  padding-right: 17px !important;
}

.swiperBlog .swiper-slide {
  width: 70% !important;
}


.commentsSwiper .swiper-button-prev {
  right: 94% !important;
  position: absolute;
  top: 30px !important;
  transform: rotate(180deg);
}

.commentsSwiper .swiper-button-next {
  right: 97.8% !important;
  position: absolute;
  top: 30px !important;
}

.commentsSwiper {
  padding-top: 4rem !important;
  margin-top: -50px;
}

.commentsSwiper .swiper-button-prev::after,
.commentsSwiper .swiper-button-next::after {
  display: none;
}

.commentsSwiper .swiper-button-prev::before,
.commentsSwiper .swiper-button-next::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M14.9998 19.9201L8.47984 13.4001C7.70984 12.6301 7.70984 11.3701 8.47984 10.6001L14.9998 4.08008' stroke='%231C1B1E' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  border-radius: 50px;
  border: 1px solid #EFEFEF;
  width: 40px;
  height: 25px;
  padding: 8px;
}


.swiperComments .swiper-slide-prev,
.swiperComments .swiper-slide-next {
  opacity: 0.3;
}


.MuiTextField-root fieldset {
  border: none;
}

.MuiInputBase-root {
  padding: 0 !important;
}

body::-webkit-scrollbar {
  background-color: #FFF;
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #ec407a;
  border-radius: 3px;
}

/* simgle blog */

#bodyContent .image {
  text-align: center;
}

#bodyContent ol,
#bodyContent ul {
  line-height: 36px;
  padding: 0;
}

.mainDark {
  background-color: transparent;
  width: 100%;
  padding: 1rem;
  position: absolute;
  direction: rtl;
  z-index: 10;
  padding: 8px 255px 8px 255px;
}

.mainDarkSticky {
  z-index: 10;
  position: sticky;
  top: 0.1px;
  background-color: #fff;
  padding: 8px 10rem 8px 10rem;
  border-bottom: 0.75px solid #efefef;
  opacity: 1;
}

.mainDarkStickyMain {
  z-index: 10;
  position: sticky;
  top: 10px;
  background-color: #fff;
  margin: 8px 255px 8px 255px;
  /* border-bottom: 0.75px solid #efefef; */
  opacity: 1;
  border-radius: 50px;
}

.mainDarkStickyMain>div {
  position: absolute;
}

.swiper-pagination-bullet-active {
  background-color: #938F94 !important;
}

.MuiSvgIcon-fontSize35px {
  font-size: 35px !important;
}

.frameTabs .MuiTabs-flexContainer {
  padding: 0;
  display: grid;
  row-gap: 24px;
}

.frameTabs .MuiTabs-indicator {
  display: none;
}

.frameTabs button.Mui-selected {
  background-color: #EC407A;
  color: #fff;
  border-color: #EC407A;
  transition: 0.5s;
}

.frameTabs button.Mui-selected:hover {
  background-color: #EC407A;
}

.frameTabs button.Mui-selected+button .facet-pill-border {
  visibility: visible;
}

.next {
  height: 52px;
  stroke: #EC407A;
  stroke-width: 4px;
  width: 100%;
}

.facet-pill-border {
  border-radius: 500px;
  fill: none;
  height: 52px;
  left: 0px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  width: 100%;
  visibility: hidden;
  transition: 0.5s;
}

.MuiTab-iconWrapper {
  margin-bottom: 0px !important;
}

.MuiTouchRipple-root {
  border-radius: 40px;
}

table tr {
  border-bottom: 1px solid;
}

strong {
  font-variation-settings: "wght" 600;
}

@media (max-width: 450px) {
  .MuiSvgIcon-fontSize35px {
    font-size: 22px !important;
  }
}

@media (max-width: 768px) {

  .commentsSwiper .swiper-button-prev::before,
  .commentsSwiper .swiper-button-next::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M14.9998 19.9201L8.47984 13.4001C7.70984 12.6301 7.70984 11.3701 8.47984 10.6001L14.9998 4.08008' stroke='%231C1B1E' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    border-radius: 50px;
    border: 1px solid #d6d6d6;
    width: 40px;
    height: 25px;
    padding: 8px;
  }

  .commentsSwiper {
    padding-top: 2rem !important;
  }


  .commentsSwiper .swiper-button-prev {
    right: 35% !important;
    position: absolute;
    bottom: 10px !important;
    transform: rotate(180deg);
    top: unset !important;
  }

  .commentsSwiper .swiper-button-next {
    left: 35% !important;
    position: absolute;
    bottom: 10px !important;
    top: unset !important;
    right: unset !important;
  }

  .frameTabs {
    overflow: unset !important;
  }

  .frameTabs .MuiTabs-scroller {
    overflow: scroll !important;
  }

  .frameTabs .MuiTabs-scroller::-webkit-scrollbar {
    display: none;
  }


  .frameTabs .MuiTabs-flexContainer {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 32px;
    column-gap: 10px;
  }

  .container {
    padding: 0 1rem !important;
    overflow: hidden !important;
  }

  .mainDarkSticky,
  .mainDarkStickyMain,
  .mainDark {
    padding: 0 !important;
  }

  .customSpace {
    margin-top: 96px;
  }

  .customSpace2 {
    padding-bottom: 72px;
  }
}

@media (max-width: 1440px) {

  .container,
  .mainDark,
  .mainDarkSticky,
  .mainDarkStickyMain {
    padding: 0 2rem;
    overflow: hidden !important;
  }

  .ImpoAppTutorial {
    padding: 0 55px;
  }

}

@media (min-width: 800px) {

  .swiperBlogs .swiper-slide {
    width: 80% !important;
  }

}


/*  between banner blogs style */

.bannerBetweenArticles {
  position: relative;
}

.bannerBetweenArticles .bannerContent {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 32px;
}

.bannerContent .logo {
  color: #EC407A;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.72px;
}

.bannerContent .firstText {
  display: inline-block;
  margin-bottom: 15px;
}

.bannerContent div {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.72px;
  margin: 0;
}

.bannerContent a {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #fff;
  color: #1C1B1E !important;
  position: absolute;
  bottom: 45px;
  right: 26px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.bannerBetweenArticles img {
  width: 100%;
  height: 100%;
}

.bannerMobile {
  display: none;
}

.notShow {
  display: none;
}


@media (max-width: 768px) {
  .bannerMobile {
    display: block;
  }

  .bannerDesktop {
    display: none;
  }

  .bannerContent a {
    padding: 5px 10px;
    bottom: 25px;
    right: 13px;
    font-size: 14px;
  }

  .bannerContent div {
    font-size: 15px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.72px;
    margin: 0;
    width: 70%;
  }

  .bannerBetweenArticles .bannerContent {
    padding: 10px;
  }

  .bannerContent .logo {
    color: #EC407A;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.72px;
  }

  .bannerContent .firstText {
    display: inline-block;
    width: auto;
    margin-bottom: 0;
  }

  .singleElement .firstText {
    width: 100% !important;
  }

}

.swiper {
  width: 100%;
  height: 100%;
}


input {
  /* Set the font size as needed */
  -webkit-text-size-adjust: none;
}