.main {
  overflow: hidden;
}

.Section1 {
  background: linear-gradient(270deg, #FFEBF2 0%, rgba(246, 228, 255, 0.60) 39.76%, rgba(255, 229, 238, 0.00) 100%);
  min-height: 100vh;
  width: 100%;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 10rem;
  position: relative;
}

.motionMobile {
  margin-top: 24px;
  width: 342.917px;
  height: 321.856px;
  background: url("../assets/images/motionWeb.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.aaa {
  width: 100%;
  height: 64vh;
  position: relative;
}

.motionFrame {
  position: relative;
  width: 100%;
  height: 65vh;
  display: block;
  text-align: left;
}

.motionMain svg {
  /* border-radius: 50%;
  background: #fff; */
  height: auto !important;
}

.frame {
  position: absolute;
  top: 26%;
  left: 23%;
  right: 23%;
  bottom: 9%;
  /* background: #21b552; */
  /* background-color: #8F003F !important; */
  /* width: 100%; */
  /* left: 22.5%;
  bottom: 23%;
  width: 45%; */
}

.backkkkkkk {
  /* position: absolute;
  left: 2%;
  bottom: 2%;
  top: 2%;
  right: 2%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.backMotion {
  width: 100%;
  height: 100%;
}

.textMotion {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
}

.textMotion span {
  display: block;
}

.textMotion .title {
  color: #7F47BF;
  font-size: 1.8vw;
  font-style: normal;
  font-weight: 500;
  line-height: 26.273px;
}

.textMotion .text {
  color: #2F292C;
  font-size: 1vw;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  margin-top: 8px;
}

.textMotion .buttonMotion {
  padding: 9px 26px;
  background-color: #fff;
  border-radius: 32.841px;
  font-size: 0.8vw;
}

.wrapperText {
  color: #FF007C;
  font-size: 45px;
  font-variation-settings: "wght" 800;
}

.typingFrame {
  width: 100%;
  min-height: 90px;
  position: relative;
}

.wrappercursor::before {
  content: "";
  width: 3px;
  height: 60px;
  background-color: #FF007C;
  position: absolute;
  bottom: 25px;
}

.wrapperText:empty.wrappercursor::before {
  bottom: -100px;
}

.ImpoText2 {
  font-variation-settings: "wght" 500;
  font-size: 48px;
  line-height: 72px;
  text-align: right;
  letter-spacing: -0.04em;
  color: #fff;
}

.Section1Wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 6%;
  padding-bottom: 6%;
}

.appMockupWrapper {
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
  position: relative;
}

.appMockupWrapper .appMockup {
  width: 90%;
  height: auto;
}

.appMockup {
  height: auto;
}

.AppReviewWrapper {
  position: relative;
}

.appReview {
  width: 40%;
  height: fit-content;
  position: absolute;
  top: 20%;
  right: -13%;
}

.ImpoStatics {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  width: 100%;
  border-bottom: 2px solid #F9FBFC;
}

.ImpoStatics .ImpoStaticsItem:not(:first-child) {
  border-right: 2px solid #F9FBFC;
}

.ImpoStaticsItem {
  min-height: 150px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 195px;
  width: 100%;
}

.ImpoStaticsItem * {
  text-align: center;
}

.ImpoAppTutorial {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  margin: 33px 0 120px 0 !important;
  width: 100%;
  padding: 0 331px;
}


.ImpoAppTutorial img {
  width: 100%;
  height: auto;
}

.ImpoAppTutorialAppMockups {
  width: 100%;
  text-align: left;
}

.ImpoTutorialImage {
  width: 35%;
  height: auto;
}

.ImpoAppTutorial .ImpoTutorialItem {
  padding: 16px 24px !important;
  width: 95%;
}

.ImpoTutorialItem {
  padding: 16px 0 24px 0 !important;
  margin: 40px 0px;
  border-radius: 24px;
  transition: 0.2s;
}

.ImpoTutorialItem:hover {
  /* background-color: var(--primary-95) !important; */
  transition: 0.2s;
  cursor: pointer;
}

.TutorialTitle {
  display: inline-block;
}

.frameTitle {
  display: flex;
  column-gap: 12px;
}

.iconArrow {
  background-color: #F9F9F9;
  border-radius: 50%;
  padding: 6.5px;
  transition: 0.2s;
  transform: rotate(45deg);
}

.ImpoTutorialItem:hover .TutorialTitle {
  color: #EC407A;
}

.ImpoTutorialItem:hover .iconArrow {
  background-color: #FFEBF0;
  transform: rotate(0);
}

.ImpoTutorialItem .iconArrow path {
  transition: 0.2s;
}

.ImpoTutorialItem:hover .iconArrow path {
  fill: #EC407A;
}


.ImpoTutorialItem.item1 .iconArrow,
.ImpoTutorialItem.item2 .iconArrow,
.ImpoTutorialItem.item3 .iconArrow {
  transform: rotate(0);
}

.ImpoTutorialItem.item1 .iconArrow path,
.ImpoTutorialItem.item2 .iconArrow path,
.ImpoTutorialItem.item3 .iconArrow path {
  fill: #EC407A;
}

.TutorialDescription {
  margin: 4px 0 8px 0 !important;
  color: #5B595C;
  font-variation-settings: "wght" 400 !important;
  font-size: 16px !important;
}

.ImpoTutorialItem:hover .TutorialDescription {
  color: var(--netural);

}

.Slogan {
  padding: 15px 0px 16px 0px;
  font-variation-settings: "wght" 600 !important;
  font-size: 24px !important;
  line-height: 8px !important;
}

.scrollerBtn {
  color: #1C1B1E !important;
  width: auto !important;
  position: absolute !important;
  bottom: 66px !important;
  right: 155px !important;
  padding: 0 !important;
  box-shadow: unset !important;
  background-color: unset !important;
}

.scrollerBtn:hover {
  background-color: transparent !important;
  box-shadow: unset !important;
}

.iconScroller {
  margin: 0 0 0 1rem !important;
}

.StaticTitle {
  font-variation-settings: 'wght' 400 !important;
  font-size: 24px !important;
  margin-top: 0px !important;
}

.WhyImpoDownload {
  text-align: center;
  margin-top: 67px !important;
  font-variation-settings: 'wght' 500 !important;
}

.ImpoAppTutorialOptionos {
  align-items: center;
}

.imgtutorial {
  width: 468px !important;
  height: 468px !important;
}

.ImpoTutorialItem.item1,
.ImpoTutorialItem.item2,
.ImpoTutorialItem.item3 {
  /* background-color: var(--primary-95); */
  transition: 0.2s;
  cursor: pointer;
}

.ImpoTutorialItem.item1 .TutorialTitle,
.ImpoTutorialItem.item2 .TutorialTitle,
.ImpoTutorialItem.item3 .TutorialTitle {
  color: #EC407A;
}

.StaticsNumber {
  font-size: 40px !important;
}


.DownloadBtn {
  padding: 12px 55px !important;
  border: none !important;
  margin-top: 20px;
}

.DownloadBtn .DownloadText {
  font-variation-settings: 'wght' 600 !important;
}


.startIcon {
  margin: 0 0 0 8px !important;
}

.installBox {
  display: flex;
  justify-content: center;
  column-gap: 6px;
  margin-top: 14px;
  align-items: center;
}

.installBox .seprator {
  color: #fff;
  margin: 0 5px;
}

.install {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}


.FeutresItem {
  background: #efefef;
  border-radius: 16px;
  padding: 20px;
  margin: 10px;
  height: 100%;
}

.FeturesPic {
  width: 100%;
  height: auto;
  margin-top: 40px;
}

.moreInfo {
  border-bottom: 1px solid #ec407a !important;
  border-radius: 0 !important;
  padding: 0 0 5px 0 !important;
  margin: 16px 0 8px 0px !important;
  margin-bottom: 10px;
}

.moreInfo:hover {
  background-color: unset;
  color: #B80F55;
  border-bottom: 1px solid #B80F55 !important;
}

.moreInfo:focus {
  background-color: transparent !important;
  color: #8F003F;
  border-bottom: 1px solid #B80F55 !important;
}

.FetureTitle {
  font-variation-settings: "wght" 600 !important;
  font-size: 18px !important;
  line-height: 32px !important;
  text-align: right !important;
  letter-spacing: -0.04em !important;
}

.FetureDescription {
  font-variation-settings: "wght" 300 !important;
  font-size: 13px !important;
  line-height: 26px;
  text-align: right;
  letter-spacing: -0.04em;
  color: #5b595c;
  padding: 10px 0px;
}

.ImpoUpdate {
  background: url(../assets/images/backUpdateDex.webp);
  background-position: center;
  background-size: cover;
  border-top: 2px solid #EC407A;
  margin: 120px 0px;
  overflow: hidden;
  border-radius: 32px;
}

.ImpoUpdatePic {
  width: 51%;
  height: auto;
  margin-bottom: -8% !important;
}

.DownloadWrapper {
  position: relative;
  padding: 40px 70px;
}

.UpdateBadge {
  position: absolute;
  top: 0;
  right: 70px;
  background: #EC407A;
  border-radius: 0px 0px 16px 16px;
  color: #fff;
  padding: 10px 15px;
}

.updateTitle {
  font-variation-settings: 'wght' 400;
  padding: 85px 0px 24px 0px;
  color: #EC407A;
}

.UpdateFetures {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.UpdateFetures .titleList {
  margin-bottom: 16px;
  color: #1C1B1E;
  font-variation-settings: "wght" 500 !important;
}

.UpdateFeturesItem::before {
  content: url("../assets/images/fetureBefore.svg");
  padding-left: 16px;
  padding-top: 3px;
}

.UpdateFeturesItem {
  color: #1C1B1E;
  margin-bottom: 8px;
  line-height: 28px;
  text-align: right;
  letter-spacing: -0.04em;
  display: flex;
  align-content: center;
  align-items: flex-start;
}

.DownloadUpdate {
  text-align: center !important;
  width: auto;
  height: auto !important;
  margin-top: 40px !important;
  padding: 16px 24px !important;
}

.DownloadUpdate a {
  display: flex;
}

.DownloadUpdate span {
  font-variation-settings: "wght" 500 !important;
}

.UpdateMedia {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.articles {
  background: rgba(255, 236, 245, 0.75);
  padding: 96px 0 71px 0;
}

.articles .title,
.text {
  text-align: center;
  font-variation-settings: 'wght' 500 !important;
}

.topicArticles {
  display: grid;
  grid-template-columns: 50% 40%;
  column-gap: 38px;
  align-items: start;
}

.topicArticles .title {
  text-align: right;
}

.topicArticles .text {
  text-align: right;
  margin-top: 0 !important;
  font-variation-settings: "wght" 400 !important;
  line-height: 36px !important;
}

.articles .text {
  margin: 30px 0 32px 0;
}

.swiperWhyMen .swiper-pagination-bullets {
  margin-top: 2rem !important;
}

.userComments {
  margin-top: 120px !important;
}

.userComments .title {
  text-align: center;
  font-variation-settings: 'wght' 500 !important;
}

.userComments img {
  width: 100%;
  height: auto;
}

.swiperComments {
  width: 70%;
  overflow: unset !important;
  margin-top: 32px;
  margin-bottom: 120px;
}


.impoProducts .title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 200px;
  font-variation-settings: "wght" 500 !important;
}

.impoProducts .box {
  background: url(../assets/images/menPattern1.webp);
  min-height: 51vh;
  width: 100%;
  background-position: center center;
  background-size: cover;
  padding: 0 10rem;
}

.impoProducts img {
  width: 944px;
  height: auto;
  margin-top: -195px;
  margin-bottom: -20px;
}

.impoProducts .box .gridBox {
  align-items: center;
}

.impoProducts .box .gridBox button {
  height: 48px;
}

.impoProducts .box .gridBox .textSlogan {
  margin: 35px 0 67px 0;
  font-variation-settings: "wght" 500 !important;
}

.container {
  padding: 0 10rem;
  letter-spacing: -0.04em !important;
  margin: 0;
}

.SectionWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.SectionWrapper img {
  width: 95%;
  object-fit: cover;
  height: auto;
  margin: 40px 0 2px 0;
}

.appMockupWrapper {
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
  position: relative;
}

.appMockup {
  max-width: 100%;
  height: auto;
}

.menVectorMobile {
  width: 100% !important;
  max-width: 100%;
}

.Capabilitie {
  display: none;
}

.Capabilitie .box {
  border-radius: 32px;
  background-color: #F9FBFC;
  padding: 32px;
}

.Capabilitie .box p {
  margin-top: 8px;
  font-variation-settings: 'wght' 300 !important;
}

.imageBox {
  text-align: center;
}



.motionMobile {
  width: 100%;
}


.containerSwiper {
  margin: 0 10rem;
}


@media(max-width:768px) {

  .imgtutorial {
    width: 100% !important;
    height: auto !important;
  }

  .topicArticles {
    grid-template-columns: 1fr;
  }

  .Section1 {
    background: unset;
    background: linear-gradient(228deg, #FFDCF5 0%, rgba(246, 228, 255, 0.60) 58.10%, rgba(255, 229, 238, 0.00) 100%);
  }

  .ImpoTutorialItem .TutorialTitle {
    font-variation-settings: "wght" 600 !important;
    font-size: 18px !important;
  }

  .ImpoTutorialItem .moreInfo {
    margin: 8px 0 8px 0px !important;
  }

  .UpdateFeturesItem {
    font-size: 14px !important;
  }

  .UpdateFetures {
    margin: 8px 0 25px 0 !important;
  }

  .TutorialDescription {
    font-size: 14px !important;
    margin: 0px 0 8px 0 !important;
    line-height: 24px !important;
  }

  .scrollerBtn {
    display: none !important;
  }

  .ImpoAppTutorial {
    margin: 8px 0 !important;
  }

  .ImpoAppTutorial .imgSlide {
    text-align: center;
  }

  .ImpoAppTutorial img {
    width: 281px !important;
    height: 281px !important;
  }

  .StaticTitle {
    font-size: 12px !important;
    margin-top: -25px !important;
  }

  .StaticsNumber {
    font-variation-settings: "wght" 600 !important;
    font-size: 19px !important;
  }

  .ImpoStaticsItem {
    width: 33.33%;
    padding: 0 !important;
    text-align: center;
    min-height: 100px;
  }

  .Section1 {
    padding: 0 1rem;
    max-width: 100%;
    overflow: hidden !important;
    max-height: 100% !important;
    display: flex;
  }

  .ImpoAppTutorial {
    padding: 0 1rem !important;
  }

  .Section1Wrapper {
    width: 100%;
    padding-top: 10%;
  }

  .appMockupWrapper {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center !important;
  }

  .ImpoTutorialImage {
    width: 100%;
  }

  .SloganWrapper {
    text-align: center;
  }

  .Slogan {
    font-size: 15px !important;
    padding: 8px 0px 24px 0;
    line-height: 28px !important;
    text-align: right;
  }

  .typingFrame {
    text-align: right;
    min-height: auto;
  }

  .wrapperText {
    font-size: 19px;
  }

  .wrappercursor {
    position: relative;
  }

  .wrappercursor::before {
    height: 20px;
    width: 2px;
    bottom: 5px;
  }

  .LogotypeImpo {
    width: 40%;
    margin-top: 30px;
    object-fit: contain;
    height: auto;
  }

  .appReview {
    display: none;
  }

  .appMockup {
    width: 80% !important;
    text-align: center;
    margin-top: 25px;
  }

  .WhyImpoDownload {
    font-size: 19px !important;
    line-height: 28px;
    font-variation-settings: "wght" 600 !important;
    margin-top: 16px !important;
  }

  .articles {
    padding: 0 !important;
  }

  .articles .title {
    font-variation-settings: "wght" 700 !important;
    font-size: 18px !important;
    margin-top: 25px;
    line-height: 28px !important;
    text-align: center;
  }

  .articles .text {
    font-variation-settings: "wght" 400 !important;
    font-size: 13px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 20px !important;
    letter-spacing: -0.52px;
    text-align: center;
    padding: 0;
    margin-top: 8px;
  }


  .userComments {
    background: #EFEFEF;
    margin-top: 56px !important;
    padding: 23px 20px 0 20px;
  }

  .userComments .title {
    padding-bottom: 23px;
    font-weight: 600;
    font-size: 19px !important;
  }

  .impoProducts .title {
    font-weight: 600;
    font-size: 19px !important;
    margin-bottom: 60px !important;
    margin-top: 56px !important;
  }

  .impoProducts .box {
    padding: 0 2rem !important;
    text-align: center;
  }


  .impoProducts .box .gridBox .titleSlogan {
    font-variation-settings: 'wght' 600 !important;
    font-size: 36px !important;
    text-align: center;
    line-height: 48px !important;
    margin-top: 19px;
  }

  .impoProducts .box .gridBox .textSlogan {
    font-variation-settings: 'wght' 400 !important;
    font-size: 16px !important;
    text-align: center;
    margin: 4px 0 16px 0 !important;
    line-height: 32px !important;
  }

  .impoProducts .box .gridBox .DownloadBtn {
    padding: 8px 30px !important;
    border-radius: 8px !important;
  }

  .impoProducts img {
    max-width: 65%;
    height: auto;
    margin: 70px 0 31px 0 !important;
    transform: scale(1.22);
    position: relative;
    left: 5px;
  }

  .ImpoUpdate {
    background: url(../assets/images/updatebg.webp);
    background-position: center;
    background-size: cover;
    border-top: 2px solid #EC407A;
    margin: 56px 0px !important;
    overflow: hidden;
    border-radius: 32px;
  }

  .container {
    padding: 0 1rem !important;
  }

  .DownloadWrapper {
    padding: 40px 22px !important;
  }

  .DownloadWrapper .DownloadBtnBox {
    text-align: center;
  }

  .UpdateBadge {
    right: 23px !important;
  }

  .updateTitle {
    font-size: 19px !important;
    padding: 40px 0px 15px 0px !important;
  }

  .DownloadUpdate {
    width: 100% !important;
    margin: 5px 0 0 0 !important;
  }

  .ImpoUpdatePic {
    max-width: 60%;
    min-width: 60%;
    margin-top: 25px !important;
  }

  .swiperComments {
    width: 100% !important;
    margin-top: 0 !important;
    margin-bottom: 56px !important;
  }

  .SectionWrapper img {
    max-width: 100%;
    margin: 8px 0 8px 0px !important;
  }

  .SectionWrapper h4 {
    font-variation-settings: 'wght' 400 !important;
    font-size: 16px !important;
  }

  .SectionWrapper p {
    font-weight: 300;
    font-size: 13px !important;
    margin-top: 0 !important;
    line-height: 24px !important;
  }

  .Capabilitie .box {
    padding: 12px 17px !important;
    border-radius: 12px !important;
  }

  .Capabilitie .box .moreInfo {
    margin: 8px 0 8px 0px !important;
  }

  .ImpoTutorialItem {
    margin: 0 !important;
  }

  .articleList .article img {
    border-radius: 15px 15px 0px 15px !important;
  }

  .ImpoTutorialItem:hover {
    background-color: unset !important;
    transition: 0.2s;
    cursor: pointer;
  }

}

@media (max-width: 450px) {
  .SectionWrapper {
    font-variation-settings: 'wght' 400 !important;
  }


  .StaticTitle {
    margin-top: 0px !important;
  }

  .Section1 {
    min-height: 80vh;
  }

  .swiperBlog {
    padding: 0;
  }

  .allBlog {
    padding: 2rem 0;
  }

  .userComments {
    padding-top: 1rem !important;
  }


  .textMotion {
    position: absolute;
    position: absolute;
    bottom: 55%;
    top: 23%;
    row-gap: 20px;
    right: 15%;
    left: unset;
  }


  .textMotion .title {
    font-size: 15px;
  }

  .textMotion .text {
    font-size: 12px;
    /* margin-top: -5px; */
  }

  .textMotion .buttonMotion {
    padding: 5px 10px;
    font-size: 10px;

  }

  .backMotion {
    width: 100%;
    height: auto;
    margin-top: 23px;
  }

  .frame {
    position: absolute;
    top: 27% !important;
    width: 100%;
    left: 1%;
    right: 23.5%;
    bottom: 0;
  }

  .motionMain {
    margin-top: 1rem;
    /* position: absolute; */
    /* bottom: 45%; */
    /* width: 51%; */
  }

  .LogotypeImpo {
    width: 40%;
  }

  .Section1Wrapper .DownloadBtn {
    padding: 8px 16px !important;
    margin-top: 2rem;
  }

  .Section1Wrapper .DownloadBtn .DownloadText {
    font-variation-settings: 'wght' 400 !important;
    font-size: 14px !important;
  }


  .Section1Wrapper {
    padding-top: 15%;
  }

  .appMockup {
    width: 100% !important;
  }

  .StaticsNumber {
    font-variation-settings: "wght" 500 !important;
  }

  .WhyImpoDownload {
    font-variation-settings: "wght" 500 !important;
  }

  .ImpoTutorialItem .TutorialTitle {
    font-variation-settings: "wght" 500 !important;
  }

  .TutorialDescription {
    font-variation-settings: "wght" 300 !important;
  }

  .moreInfo p {
    font-variation-settings: "wght" 300 !important;
  }

  .updateBox {
    padding: 0;
  }

  .updateBox .ImpoUpdate {
    border-radius: 0;
  }

  .UpdateBadge {
    font-variation-settings: "wght" 300 !important;
  }

  .UpdateFeturesItem {
    font-variation-settings: 'wght' 400 !important;
  }

  .DownloadUpdate {
    width: auto !important;
    padding: 8px 15px !important;
    margin: 0 !important;
  }

  .DownloadUpdate span {
    font-variation-settings: "wght" 400 !important;
    font-size: 14px !important;
  }

  .updateTitle {
    padding: 27px 0px 4px 0px !important;
    font-size: 25px !important;
  }

  .UpdateFetures {
    margin: 0 0 24px 0 !important;
  }

  .UpdateFetures .titleList {
    font-variation-settings: "wght" 400 !important;
  }

  .ImpoUpdatePic {
    width: 70% !important;
    max-width: none;
    min-width: none;
  }

  .impoProducts img {
    max-width: 100% !important;
    margin: 70px 0 19px 0 !important;
  }
}

@media (max-width: 1440px) {


  .frame {
    top: 23%;
  }

  .Section1 {
    padding: 0 2rem;
  }

  .impoProducts .box {
    padding: 0 2rem;
  }

  .container {
    padding: 0 2rem;
  }

  .ImpoAppTutorial {
    padding: 0 120px;
  }

  .DownloadUpdate {
    width: auto;
    margin-top: 15px;
  }

  .updateTitle {
    padding: 50px 0px 30px 0px;
  }

  .DonlwoadWrapper {
    column-gap: 5rem;
  }

  .scrollerBtn {
    right: 28px !important;
  }

  .ImpoStaticsItem {
    padding: 40px 120px;
  }

  .impoProducts img {
    width: 100%;
    height: auto;
    margin-top: -80px;
    margin-bottom: -20px;
  }
}
