.main {
    overflow: hidden;
}

.main section {
    margin-bottom: 120px !important;
}

.presentApp {
    background: url(../assets/images/backMen.webp);
    width: 100%;
    height: 90vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0 7rem;
}

.ImpoText2 {
    font-variation-settings: "wght" 500;
    font-size: 48px;
    line-height: 72px;
    text-align: right;
    letter-spacing: -0.04em;
    color: #fff;
}

.presentApp .SectionWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 92vh;
}

.SectionWrapper img {
    width: 100%;
    object-fit: cover;
    height: auto;
    margin: 8px 0 -4px 0;
}

.appMockupWrapper {
    display: flex;
    justify-content: center;
    align-self: end;
    position: relative;
}

.appMockup {
    max-width: 100%;
    height: auto;
}

.menVectorMobile {
    width: 100%;
    max-width: 100%;
}

.AppReviewWrapper {
    position: relative;
}

.appReview {
    width: 40%;
    height: fit-content;
    position: absolute;
    top: 20%;
    right: -10%;
}

.ImpoStatics {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: 2px solid #EFEFEF;

}

.ImpoStatics .ImpoStaticsItem:not(:first-child) {
    border-right: 2px solid #F9FBFC;

}

.ImpoStaticsItem {
    min-height: 150px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 10%;
}

.ImpoAppTutorial {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0 !important;
    width: 100%;
    padding: 0 190px;
}


.ImpoAppTutorialAppMockups {
    width: 100%;
    text-align: left;
}

.ImpoAppTutorialAppMockups .biorythmMockap,
.cycleMockap {
    width: 364.41px !important;
    height: 747px !important;
}

.ImpoTutorialItem {
    padding: 16px 24px !important;
    margin: 44px 0px;
    border-radius: 24px;
    transition: 0.2s;
}

.ImpoTutorialItem:hover {
    background-color: #EEEFFF;
    transition: 0.2s;
    cursor: pointer;
}

.ImpoTutorialItem.item1,
.ImpoTutorialItem.item2 {
    background-color: #EEEFFF;
    transition: 0.2s;
    cursor: pointer;
}

.ImpoTutorialItem.item1,
.ImpoTutorialItem.item2 .TutorialTitle {
    color: #303388;
}


.ImpoTutorialItem:hover .TutorialTitle {
    color: #303388;
}

.TutorialDescription {
    margin: 4px 0 8px 0 !important;
    font-size: 16px !important;
    font-variation-settings: "wght" 400 !important;
}

.titleSlogan {
    font-variation-settings: "wght" 500 !important;
    margin-bottom: 32px !important;
}

.textSlogan {
    font-variation-settings: "wght" 400 !important;
}

.DownloadBtn {
    color: #1D1A22 !important;
    background-color: #fff !important;
    padding: 12px 29px !important;
    margin-top: 48px !important;
    border: none !important;
}

.DownloadBtn:hover {
    background-color: #E7E0EB !important;
}


.startIcon {
    margin: 0 0 0 8px !important;
}

.scrollerBtn {
    color: #fff !important;
    width: auto;
    position: absolute !important;
    bottom: 60px;
    right: 0;
    padding: 0 !important;
    font-size: 15px !important;
    box-shadow: unset !important;
    background-color: unset !important;
}



.scrollerBtn:hover {
    background-color: transparent !important;
    box-shadow: unset !important;
}

.scrollerBtn p {
    font-variation-settings: "wght" 400 !important;
}

.iconScroller {
    margin: 0 0 0 1rem !important;
}

.appOption .title {
    text-align: center;
    margin-top: 96px;
}

.appOption img {
    width: 100%;
    height: 100%;
}

.moreInfo {
    color: #EC407A !important;
    border-bottom: 1px solid #EC407A !important;
    border-radius: 0 !important;
    padding: 0 0 5px 0 !important;
    margin: 16px 0 8px 0px !important;
}

.box {
    border-radius: 32px;
    background-color: #F9FBFC;
    padding: 32px;
}

.box p {
    margin-top: 12px;
}

.imageBox {
    text-align: center;
}

.articles .title,
.text {
    text-align: center;
}

.articles .text {
    margin: 30px 0 84px 0;
}


.swiperWhyMen .swiper-pagination-bullets {
    margin-top: 2rem !important;
}

.container {
    padding: 0 7rem;
    letter-spacing: -0.04em !important;
    margin: 0 !important;
}


.installAppMen .textInstall {
    margin: 21px 0 56px 0;
}

.installAppMen .btnBox {
    margin-bottom: 113px;
}

.installAppMen .btnBox button {
    color: #303388 !important;
    border: 2px solid #303388;
    border-radius: 12px;
    padding: 8px 40px;
}

.installAppMen .btnBox button.buttomStyleSlider1 {
    color: #fff !important;
    background-color: #303388;
}

.installAppMen .arrowBtn {
    position: absolute;
    left: 145px;
    display: flex;
    column-gap: 16px;
}

.installAppMen .arrowBtn button {
    padding: 9px;
    border-width: 1px;
}

.installAppMen .slideInstall {
    align-items: end;
}

.installAppMen .contentSlide {
    margin-right: 10px;
    min-height: 180px !important;
}

.downloadMenApp {
    margin-top: 120px;
}

@media (max-width: 768px) {
    .main section {
        margin-bottom: 56px !important;
    }

    .styleMobileSize {
        font-weight: 600;
        font-size: 19px !important;
    }

    .textInstall {
        font-weight: 400;
        font-size: 13px !important;
        margin: -10px 0 24px 0 !important;
    }

    .installAppMen {
        padding-top: 10px;
    }

    .installAppMen .btnBox {
        margin-bottom: 33px !important;
    }

    .arrowBtn {
        display: none !important;
    }

    .container {
        padding: 0 1rem;
    }

    .presentApp {
        padding: 90px 1.5rem 0 1.5rem;
        height: 85vh;
    }

    .ImpoAppTutorial {
        display: none;
    }

    .ImpoTutorialItem {
        margin: 29px 0 16px 0;
    }

    .scrollerBtn {
        display: none !important;
    }

    .presentApp .SectionWrapper {
        text-align: center;
        margin-top: 0;
        height: 64vh !important;
    }

    .SectionWrapper img {
        margin-top: -1px;
        width: 60%;
    }

    .titleSlogan {
        font-variation-settings: "wght" 400 !important;
        font-size: 36px !important;
        line-height: 48px !important;
        margin-bottom: 4px !important;
    }

    .textSlogan {
        font-variation-settings: "wght" 300 !important;
        font-size: 18px !important;
        line-height: 32px !important;
    }

    .TutorialDescription {
        font-size: 12px !important;
    }

    .appOption .title {
        font-size: 19px !important;
        margin-top: 0;
        font-variation-settings: 'wght' 500 !important;
    }

    .presentApp {
        margin-bottom: 40px !important;
    }

    .DownloadBtn {
        margin-top: 24px !important;
        font-size: 16px !important;
        font-weight: 400 !important;
        padding: 10px !important;
    }

    .articles .title {
        font-weight: 600;
        font-size: 19px !important;
    }

    .articles .text {
        font-weight: 400;
        font-size: 14px !important;
        margin-top: 4px;
        margin-bottom: 24px;
        font-variation-settings: 'wght' 400 !important;
    }

    .box {
        text-align: right;
        padding: 12px 17px !important;
        border-radius: 12px !important;
    }

    .box h4 {
        font-size: 16px !important;
        font-weight: 600 !important;
    }

    .box p {
        font-weight: 300 !important;
        font-size: 13px !important;
    }

    .box .moreInfo {
        margin: 14px 0 13px 0;
    }

    .main section {
        margin-bottom: 56px;
    }

    .TutorialTitle {
        margin-bottom: 4px !important;
    }

    .details label {
        font-weight: 400;
        font-size: 12px;
    }

    .menVectorMobile {
        margin-top: 15px !important;
    }

    .appOption .mockap {
        text-align: center;
    }

    .appOption img {
        width: 70% !important;
    }

    .articleList .article img {
        border-radius: 15px 15px 0px 15px !important;
    }
}

@media (max-width: 368px) {
    .SectionWrapper img {
        width: 100% !important;
    }

    .DownloadBtn {
        padding: 8px 10px !important;
    }

    .DownloadBtn p {
        font-variation-settings: "wght" 300 !important;
        font-size: 14px !important;
    }

    .presentApp {
        height: 70vh;
    }

    .titleSlogan {
        margin-top: -50px;
    }

    .ImpoTutorialItem .moreInfo {
        font-variation-settings: 'wght' 400 !important;
        font-size: 14px;
    }

    .appMockupWrapper img {
        width: 95% !important;
    }

}

@media (max-width: 450px) {

    .titleSlogan {
        margin-top: -68px;
    }

    .DownloadBtn p {
        font-variation-settings: 'wght' 400 !important;
        font-size: 16px !important;
    }

    .appMockupWrapper img {
        width: 90% !important;
        margin-top: 3rem !important;
    }

    .imageBox img {
        margin-top: 0 !important;
        width: 100%;
    }

    .presentApp .SectionWrapper,
    .appMockupWrapper {
        position: unset !important;
    }

    .presentApp {
        position: relative;
        height: 95vh !important;
    }

    .appMockupWrapper img {
        position: absolute;
        bottom: 0;
    }
}

@media (max-width: 1440px) {
    .presentApp {
        padding: 0 2rem;
    }

    .container {
        padding: 0 2rem;
    }
}
