.NotFound {
    display: grid;
    justify-content: center;
    margin: 50px 0;
    justify-items: center;
}

.NotFound img {
    margin-top: 64px;
}

.action {
    text-align: center;
    display: grid;
    justify-items: center;
}

.action h3 {
    color: #FF007C;
    font-size: 48px;
    font-weight: 700;
    line-height: 7.543px;
    letter-spacing: -2.4px;
    margin-bottom: 35px;
}

.action p {
    color: #131313;
    font-size: 24px;
    font-weight: 400;
    line-height: 7.543px;
    letter-spacing: -1.2px;
}

.action a {
    margin-top: 40px;
    display: block;
    padding: 12px 20px;
    border-radius: 36px;
    background-color: #EC407A;
    color: #fff;
    width: 239px;
}

@media (max-width: 768px) {
    .NotFound {
        margin: 20px;
    }

    .NotFound img {
        width: 100%;
        height: auto;
    }

    .action h3 {
        color: #FF007C;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .action p {
        color: #131313;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }
}