.paddingBottomPrevention {
  padding-top: 40px;
  padding-bottom: 40px;
}

.textAlignCenterPrevention {
  text-align: center;
}

.styleTex1Prevention {
  padding: 20px;

}

.styleMobileSizePrevention {
  padding-bottom: 59px;
  font-size: 28px !important;
  font-variation-settings: "wght" 400 !important;
  color: #5b595c !important;
}

.ImageStyleFix {
  width: 70% !important;
  height: 70% !important;
}

.buttomStyleSlider1Prevention {
  width: 200px;
  border: 1px solid #ec407a;
  color: #fff;
  background-color: #ec407a;
  margin: 5px;
}

.buttomStyleSlider1Prevention:hover {
  color: #fff;
  background-color: #a74465 !important;
}

.buttomStyleSliderActivePrevention {
  width: 200px;
  border: 1px solid #ec407a;
  color: #ec407a;
  margin: 5px;
}

.buttomStyleSliderActivePrevention:hover {
  color: #fff;
  background-color: #a74465 !important;
}

.sliderBoxPrevention {
  background-color: #efefef;
  width: 100%;
  padding: 5rem 1rem 5rem 0.6rem;
  display: flex;
  flex-direction: column;
}

.PaddingTopPrevention {
  padding-top: 40px;
}

.widthImageSliderPrevention {
  width: 100%;
  height: 100%;
}

.flexSliderSwiperPrevention {
  display: flex;
  align-items: flex-end;
  height: 90%;
  width: 100%;
  padding-right: 10px;
}

.FlexArrowBtnSliderPrevention {
  position: absolute;
  left: 7rem;
  top: 1rem;
}

.buttomArrowSliderNextPrevention {
  background-color: transparent;
  border: 1px solid #ec407a;
  border-radius: 5px;
  margin-right: 5px;
  height: fit-content;
  padding: 2px;
  color: #ec407a;
  width: 30px;
  height: 30px;
}

.buttomArrowSliderPrevPrevention {
  background-color: transparent;
  border: 1px solid #ec407a;
  border-radius: 5px;
  height: fit-content;
  padding: 2px;
  color: #ec407a;
  width: 30px;
  height: 30px;
}

.paddingTop {
  padding-top: 140px;
}

.flexSliderPreventionNumber {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexprenvition {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.Dividerstyle1 {
  display: none;
}

.Dividerstyle2 {
  display: none;
}

@media (max-width: 900px) {
  .textAlignLeftPrevention {
    margin-left: 0;
  }

  .fontStyleLabelPrevention {
    display: block;
    text-align: center;
  }

  .Article2Prevention {
    padding: 2rem;
  }

  .positionText3Prevention {
    display: none;
  }
}

@media (max-width: 425px) {
  .ArticlePrevention {
    padding: 1rem;
  }

  .textAlignLeftPrevention {
    margin-left: 0;
  }

  .fontStyleLabelPrevention {
    display: block;
    text-align: center;
  }

  .fontStylespanPrevention {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 100;
  }

  .Section1Prevention {
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    padding: 1rem;
  }

  .positionText3Prevention {
    display: none;
  }

  .FullWidthPrevention {
    width: 100%;
  }

  .styleTex1Prevention {
    font-size: 24px !important;
    padding: 10px 5px 0px 5px;
    font-variation-settings: "wght" 700 !important;
  }

  .styleMobileSizePrevention {
    font-size: 14px !important;
    padding: 0;
  }

  .styleMobileSizeText1Prevention {
    font-size: 16px !important;
    font-variation-settings: "wght" 600 !important;
  }

  .styleMobileSizeText2Prevention {
    font-size: 13px !important;
    font-variation-settings: "wght" 300 !important;
  }

  .textAlignCenterMobileSizePrevention {
    width: 100%;
    text-align: center I !important;
  }

  .paddingBottomPreventionPrevention {
    padding: 24px 0 36px 0;
  }

  .Section1Prevention {
    padding: 0;
  }

  .widthImageSliderPrevention {
    width: 70%;
  }

  .FlexArrowBtnSliderPrevention {
    display: none;
  }

  .textPrevention {
    font-size: 16px !important;
    font-variation-settings: "wght" 600 !important;
  }

  .textLsiderPrevention {
    font-size: 12px !important;
    font-variation-settings: "wght" 4 00 !important;
  }

  .textSliderLevelPrevention {
    font-size: 16px !important;
    font-variation-settings: "wght" 600 !important;
    line-height: 40px !important;
  }

  .textSliderTextPrevention {
    font-size: 12px !important;
    font-variation-settings: "wght" 400 !important;
    word-break: break-word;
    width: 200px;
    line-height: 16px !important;
    min-height: 80px;
  }

  .buttomStyleSlider1Prevention {
    width: 154px;
    height: 40x;
  }

  .buttomStyleSliderActivePrevention {
    width: 154px;
    height: 40x;
  }

  .ImpoText1Prevention {
    font-size: 36px !important;
    font-variation-settings: "wght" 600 !important;
  }

  .ImpoText2Prevention {
    font-size: 16px !important;
    font-variation-settings: "wght" 400 !important;
  }

  .paddingTop {
    padding-top: 90px;
  }

  .Dividerstyle1 {
    display: block;
    width: 100vw !important;
  }

  .Dividerstyle2 {
    display: block;
    width: 100vw !important;
    margin-bottom: 20px !important;
  }
}

@media (max-width: 768px) {
  .FlexSliderPrevention {
    flex-direction: column;
    text-align: center;
  }

  .PaddingTopPrevention {
    display: none;
  }

  .styleSmallSizePrevention {
    display: block;
  }

  .widthImageSliderPrevention {
    max-width: 100%;
  }
}