.shareeexperience {
    padding: 46px 17px 70px 17px;
    background: linear-gradient(254deg, #FFDCF5 -43.97%, rgba(246, 228, 255, 0.60) 40.65%, rgba(255, 229, 238, 0.00) 101.68%);
}

.shareeexperience hr {
    border-color: #EFEFEF !important;
}

.header .image {
    width: 100%;
    text-align: center;
}

.header h4 {
    text-align: center;
    margin: 0;
    color: #131313;
    font-size: 14px;
    font-weight: 600;
    line-height: 4.504px;
    letter-spacing: -0.65px;
}

.header h2 {
    color: #EC407A;
    font-size: 40px;
    font-weight: 700;
    line-height: 29.291px;
    letter-spacing: -2px;
    text-align: center;
    margin: 18px 0;
}

.header p {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.52px;
    margin-top: 14px;
    margin-bottom: 2rem;
}

.mockapText {
    position: relative;
    padding: 2rem 0;
}

.mockapText .topTxt {
    position: absolute;
    font-size: 12px;
    width: 86%;
    top: -5px;
}

.mockapText .rightTxt {
    position: absolute;
    font-size: 12px;
    width: 83%;
    bottom: 3.8rem;
    right: 2.5rem;
}

.mockapText .leftTxt {
    position: absolute;
    font-size: 12px;
    width: 68%;
    bottom: -35px;
    right: 0;
}

.mockapText img {
    max-width: 100%;
    width: 100%;
    height: 100%;
}