.mainJob {
    padding: 175px 10rem;
}

.titlePage {
    text-align: center;
}

.backgroundSection {
    background: #F8F8F8;
    padding: 24px 48px;
    border-radius: 24px;
}

.infoJob {
    display: grid;
    align-items: center;
    grid-template-columns: 70% 30%;
    margin: 53px 0 32px 0;

}

.infoJob .title * {
    text-align: right;
}

.infoJob .title p {
    margin-top: 24px;
    max-width: 800px;
}



.skills ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-row-gap: 24px;
}

.skills ul li {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.tasks h3 {
    text-align: right;
}

.tasks ul {
    margin-top: 32px;
    display: grid;
    grid-row-gap: 8px;
}

.tasks ul li {
    position: relative;
}

.tasks ul li::before {
    content: "";
    width: 28px;
    height: 2px;
    background-color: #EC407A;
    position: absolute;
    right: -42px;
    top: 15px;
}

.task {
    font-variation-settings: 'wght' 300 !important;
}

.requestForm {
    margin-top: 32px;
}

.requestForm h3 {
    text-align: right;
}

.requestForm .form {
    display: flex;
    column-gap: 24px;
    margin-top: 32px;
    align-items: center;
}

.requestForm .form input {
    border-radius: 8px;
    border: 1px solid #E9E9E9;
}

.requestForm .form input::placeholder {
    color: #c4c4c4;
}

.btnBox button {
    width: 13rem;
}

.resumeFile {
    width: 18rem;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #E9E9E9;
    background: #ECECEC;
    padding: 10px 0;
    color: #EC407A;
}

.modalFrame {
    padding: 2rem;
}

@media (max-width: 768px) {
    .mainJob {
        padding: 1rem 1rem;
    }

    .infoJob {
        grid-template-columns: 1fr;
        margin-top: 5rem;
    }

    .form {
        display: grid !important;
        row-gap: 16px;
    }

    .titlePage {
        display: none;
    }

    .generalTitle {
        text-align: center !important;
        font-size: 20px !important;
        line-height: 38px !important;

    }

    .skills {
        margin-top: 24px;
    }

    .skills ul {
        grid-row-gap: 8px;
    }

    .skills li {
        background: #ECECEC;
        padding: 8px 16px;
    }

    .backgroundSection {
        padding: 16px;
    }

    .resumeFile {
        width: 100%;
    }

    .btnBox button {
        width: 100%;
    }
}