.contentDivider {
    border-left: 1px solid #F2F2F2;
    padding-left: 50px !important;
}

.singleBlog {
    padding-top: 150px;
}

.detailsPost {
    margin-top: 48px;
    display: grid;
    grid-template-columns: 1fr 10% 2% 17% 5%;
    align-items: center;
}

.author {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.author span {
    cursor: pointer;
}

.author img {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    border-radius: 100%;
    cursor: pointer;
}

.commentPost {
    display: flex;
    column-gap: 4px;
}



.divider {
    margin: 23px 0 44px 0 !important;
    border-color: #F2F2F2 !important;
}

.titlePost {
    margin-bottom: 32px !important;
    font-size: 40px !important;
}

.imgPost {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    margin-bottom: 47px;
}

.titleSection {
    margin-top: 245px;
    text-align: center;
}

.verticalDivider {
    margin: 0 50px;
}

.contentTopics {
    margin: 40px 0;
    padding: 44px 54px;
    background: #EFEFEF;
    border-radius: 30px;
}

.contentTopics nav li {
    margin-bottom: 20px;
}

.contentTopics nav li::before {
    content: "●";
    color: #938F94;
    margin-left: 25px;
    position: relative;
    top: 2px;
}

.contentPost .content p {
    line-height: 32px;
}

.contentPost .content .subTitle {
    margin: 40px 0 16px 0;
}


.nextAndPrevPost {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 34px;
    width: 100%;
}

.nextAndPrevPost .item {
    padding: 30px 37px;
    background: #EFEFEF;
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nextAndPrevPost .item:first-child .textItem {
    text-align: left;
}

.nextAndPrevPost .item .textItem label {
    display: block;
    margin-bottom: 3px;
}

.textItem .text {
    font-size: 24px !important;
}

.commentsPost {
    margin-top: 73px;
}

.commentTemplate {
    margin-top: 32px;
}

.commentTemplate .userInfo {
    display: flex;
    column-gap: 35px;
    margin-bottom: 32px;
}

.commentTemplate .btnBox {
    text-align: center;
}

.commentTemplate .btnBox button {
    padding: 8px 132px;
    color: #EC407A;
    border: 2px solid #EC407A;
    margin-top: 56px;
}

.commentTemplate .btnBox button:hover {
    background-color: unset;
    color: #B80F55;
    border-color: #B80F55 !important;
}

.comment {
    white-space: pre-line !important;
}

.searchBlog {
    position: relative;
}

.searchBlog .searchIcon {
    position: absolute;
    left: 17px;
    bottom: 17px;
}

.singleSidbar {
    padding-right: 32px;
    position: sticky;
    top: 90px;
}

.authorInfo {
    display: flex;
    column-gap: 16px;
    margin: 55px 0 29px 0;
    align-items: center;

}

.authorInfo img {
    width: 64px;
    height: 64px;
    border-radius: 50px;
    cursor: pointer;
}

.actionPost {
    margin: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.sharePost .socialIcons ul {
    display: flex;
    column-gap: 24px;
    align-items: center;
}

.sharePost .socialIcons ul a {
    display: block;
    line-height: 0;
}

.relatedPosts {
    margin: 16px 0;
}


.relatedPosts .posts,
.relatedPosts .posts article {
    margin-top: 16px;
    cursor: pointer;
}

.relatedPosts .posts article:hover h6 {
    color: #EC407A;
}

.relatedPosts .archiveBtn {
    text-align: center;
    margin: 25px 0;
}

.relatedPosts .archiveBtn button {
    color: #1D1A22;
    border: 1px solid #EFEFEF;
}

.otherCategories {
    padding: 31px 0;
}

.otherCategories .categories ul {
    padding: 0;
}

.otherCategories .categories li {
    display: inline-block;
}

.otherCategories .categories .category {
    display: block;
    margin: 0 0 18px 14px;
    padding: 8px 24px !important;
    background: #EFEFEF;
    border-radius: 30px !important;
    color: #1D1A22 !important;
    box-shadow: unset !important;
}


.otherCategories .categories .category:hover {
    background-color: #EC407A !important;
    color: #fff !important;
}

.otherCategories .categories .category span {
    font-variation-settings: 'wght' 600 !important;
    font-size: 14px !important;
    color: inherit;
}

.downloadApp {
    text-align: center;
}

.downloadApp .frame {
    background: #F9FBFC;
    border-radius: 20px;
    padding: 27px 27px 0 27px;
    margin-top: 20px;
}

.downloadApp .frame .logoType {
    margin-bottom: 4px;
}

.downloadApp .frame span {
    margin-bottom: 24px;
    display: block;
}

.downloadApp .mockap {
    width: 100%;
    height: 100%;
    margin-bottom: -12px;
}

.downloadApp .frame a {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding: 6px 12px;
    border: 2px solid #EFEFEF;
    border-radius: 8px;
    margin-bottom: 8px;
    column-gap: 8px;
}

.downloadApp .frame a:hover {
    background-color: #dedede;
}

.downloadApp .frame a img {
    width: 20px;
    height: 20px;
}

.authorName {
    font-size: 16px !important;
    cursor: pointer;
}

.rates {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 44px 0;
}

.rates .stars {
    padding: 0;
    display: flex;
    column-gap: 15px;
    margin: 0;
}

.starIcon {
    column-gap: 5px;
}


.textRates {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #313033;
}

.commentList {
    margin-top: 100px;
}

.commentList ul {
    margin-top: 16px;
    padding: 0;
}

.commentList ul li {
    margin-bottom: 28px;
}

.commentList .contentComment {
    font-size: 18px !important;
    font-variation-settings: 'wght' 300 !important;
    line-height: 161% !important;
    margin-top: 15px;
    margin-bottom: 10px;
}

.replyComment {
    margin: 26px 0;
    background: #F9F9F9;
    border-radius: 24px 3px 24px 24px;
    padding: 15px 44px 15px 25px;
}

.replyComment .flexName {
    display: flex;
    align-items: center;
    column-gap: 46px;
    margin-bottom: 10px;
}

.ratesText {
    font-variation-settings: "wght" 600 !important;
}

.commentList .title {
    font-variation-settings: "wght" 600 !important;
    margin-bottom: 3rem;
    display: block;
}

.comments .userName {
    font-variation-settings: "wght" 500 !important;
}

.replyComment .name {
    font-variation-settings: "wght" 500 !important;
}

.bodyContent a {
    color: #EC407A;
}

.bodyContent img {
    width: 100% !important;
    object-fit: cover;
    height: 100%;
}

.bodyContent * {
    word-break: break-word;
}

.bodyContent table {
    width: 100%;
}


/*  responsive codes */

@media (max-width: 450px) {
    .contentDivider {
        border-left: 0px !important;
    }

    .bodyContent * {
        text-align: justify;
    }

    .imgPost {
        width: 100%;
        border-radius: 0;
    }

    .contentDivider nav,
    .detailsPostMobile,
    .titlePost,
    .content,
    .nextAndPrevPost,
    .commentsPost,
    .commentList {
        padding: 0 1rem;
        overflow: hidden !important;
    }

    .singleSidbar {
        margin: 0 1rem;
    }
}

@media (max-width: 768px) {
    .bodyContent img {
        object-fit: contain;
        height: auto;
    }


    .contentDivider {
        padding-left: 0px !important;
    }

    .replyComment {
        padding: 15px 26px 15px 25px;
    }

    .singleSidbar {
        padding-right: 0;
        padding-top: 16px;
    }

    .singleBlog {
        padding-top: 130px;
    }

    .authorName {
        font-size: 14px !important;
    }

    .LabelAuthorName {
        font-size: 12px !important;
    }

    .authorInfo img {
        width: 48px;
        height: 48px;
    }

    .socialIcons ul {
        padding: 0;
    }

    .detailsPostMobile {
        display: flex;
        column-gap: 8px;
    }

    .detailsPostMobile .detail {
        margin-top: -5px;
    }

    .detailsPostMobile .detail span {
        font-size: 12px !important;
    }

    .detailsPostMobile .detail .seprator {
        margin: 0 4px;
    }

    .detailsPostMobile .authorMobile .authorName {
        font-size: 15px !important;
    }

    .detailsPostMobile img {
        width: 56px;
        height: 56px;
        border-radius: 100%;
        cursor: pointer;
    }

    .titlePost {
        font-size: 24px !important;
        font-variation-settings: 'wght' 600 !important;
        margin-bottom: 16px;
        line-height: 36px !important;
    }

    .imgPost {
        height: 200px;
        margin-bottom: 16px;
    }

    .contentTopics {
        padding: 25px 20px;
    }

    .contentTopics ul {
        padding: 0;
    }

    .subTitle {
        font-size: 19px !important;
    }

    .contentPost p {
        font-size: 14px !important;
    }

    .commentTemplate .userInfo {
        display: grid;
        row-gap: 8px;
    }

    .commentTemplate .btnBox button {
        margin-top: 16px;
    }

    .nextAndPrevPost {
        column-gap: 14px;
    }

    .nextAndPrevPost .item {
        padding: 10px 15px;
    }

    .nextAndPrevPost .item .textItem label {
        font-size: 12px !important;
    }

    .nextAndPrevPost .item .textItem a span {
        font-size: 16px !important;
    }

    .nextAndPrevPost .item .text {
        font-size: 13px !important;
        line-height: 22px !important;
    }


    .commentList .title {
        font-size: 19px !important;

    }

    .commentsPost span {
        font-size: 16px !important;
    }

    .titleSection {
        margin-top: 0;
    }

    .titleSection .title {
        font-size: 18px !important;
    }

    .downloadApp {
        display: none;
    }

    .detailsPost {
        margin-top: 24px;
    }

    .rates {
        display: block;
        text-align: center;
    }

    .textRates {
        justify-content: center;
        column-gap: 23%;
        margin-bottom: 1rem;
    }

    .rating {
        margin-top: 1rem;
    }
}