.Section1 {
  background: url(../assets/images/backgroundImageSympathy.webp);
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 7rem;
  position: relative;
}

.paddingBottom {
  padding-top: 40px;
  padding-bottom: 78px;
}

.fontStyle {
  font-size: 16px;
  font-weight: 100;
}

.FullWidthBox {
  width: 35% !important;
  height: 35% !important;
}

.ImpoText1 {
  font-variation-settings: "wght" 400;
  font-size: 100px;
  line-height: 0px;
  letter-spacing: -0.04em;
  color: #ec407a;
  padding-bottom: 8px !important;
}

.ImpoText2 {
  font-variation-settings: "wght" 600;
  line-height: 56px;
  letter-spacing: -0.04em;
  color: #1c1b1e;
}

.ImpoText3 {
  color: #48464a;
  padding-right: 10px;
}

.positionText3 {
  position: absolute;
  bottom: 116px;
}

.Article {
  padding: 3rem;
}

.textAlignCenter {
  text-align: center;
}

.textAlignLeft {
  text-align: left;
}

.textAlignRight {
  text-align: right;
}

.widthImage {
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

.specificWidthOfItem4 {
  width: 70%;
  height: 100%;
}

.ArticleChild1 {
  padding: 24px 30px 24px 30px;
  border-radius: 32px;
  background-color: #f9fbfc;
  height: 100%;
}

.ArticlePadding {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.Article2 {
  padding: 0 7rem 4rem 7rem;
}

.Article1 {
  display: flex;
  justify-content: space-between;
}

.Article1Child {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  line-height: 40px !important;
  padding-top: 50px;

}

.flexArticlePart {
  display: flex;
  flex-direction: column;
}

.childPart1 {
  display: "flex";
  justify-content: space-between;
  background-color: red;
}

.buttomStyle {
  width: 95%;
  border: 1px solid #e6e1e6;
  color: #000;
}

.fontStyleLabel {
  font-size: 30px;
  font-weight: 600;
}

.fontStylespan {
  font-size: 20px;
  font-variation-settings: "wght" 400 !important;
}

.flexChildSlider {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 90%;
}

.FlexSlider {
  display: flex;
}

.FlexsliderChild {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 40px;
  margin-right: 5px;
}

.styleSmallSize {
  padding-top: 3rem;
  display: none;
}

.text {
  text-align: center;
}

.swiper-button-next {
  color: red !important;
  background-color: blue !important;
}

.textStyle1 {
  font-size: 38px !important;
  font-variation-settings: "wght" 600 !important;
}

.styleMobileSize {
  font-size: 40px !important;
  font-variation-settings: "wght" 500 !important;
}

.styleMobileSizeText2 {
  font-size: 16px !important;
  font-variation-settings: "wght" 400 !important;
  padding-top: 15px;
  padding-bottom: 30px;
}


.flexWhySymphaty {
  display: flex;
  justify-content: center;
}

.textZigZagBox {
  padding-top: 13px;
  line-height: 40px !important;
  font-variation-settings: 'wght' 600 !important;
}

@media (max-width: 900px) {
  .textAlignLeft {
    margin-left: 0;
  }

  .fontStyleLabel {
    display: block;
    text-align: center;
  }

  .Article2 {
    padding: 0 2rem 0 2rem;
  }

  .textStyle1 {
    font-size: 30px !important;
  }

  .fontStylespan {
    font-size: 16px !important;
  }

  .textZigZagBox {
    font-size: 15px !important;
  }
}

@media (max-width: 450px) {
  .Section1 {
    background: url(../assets//images/backgroundImageSympathyMobileSize.webp);
    min-height: 100vh !important;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .Article2 {
    padding: 0 1rem 3rem 1rem;
  }

  .FullWidthBox {
    width: 50% !important;
    height: 100% !important;
  }

  .Article {
    padding: 1rem;
  }

  .textAlignLeft {
    margin-left: 0;
  }

  .fontStyleLabel {
    display: block;
    text-align: center;
  }

  .fontStylespan {
    display: block;
    text-align: center;
    font-size: 10px;
    font-weight: 100;
    padding: 10px 0 8px 0 !important;
  }

  .Section1 {
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    padding: 1rem;
  }

  .positionText3 {
    display: none;
  }

  .styleMobileSize {
    font-size: 26px !important;
    margin-bottom: 24px;
  }

  .styleMobileSizeText1 {
    font-size: 16px !important;
    font-variation-settings: "wght" 600 !important;
  }

  .styleMobileSizeText2 {
    font-size: 13px !important;
    font-variation-settings: "wght" 300 !important;
    padding-top: 0;
    padding-bottom: 10px;
  }

  .textAlignCenterMobileSize {
    width: 100%;
    text-align: center I !important;
  }

  .flexMobileSize {
    text-align: center;
  }

  .paddingBottom {
    padding-bottom: 15px;
    width: 100%;
  }

  .Section1 {
    padding: 0;
  }

  .textStyle1 {
    font-size: 24px !important;
  }

  .text {
    font-size: 16px !important;
    font-variation-settings: "wght" 600 !important;
  }

  .textLsider {
    font-size: 12px !important;
    font-variation-settings: "wght" 4 00 !important;
  }

  .ImpoText1 {
    font-size: 54px !important;
    font-variation-settings: "wght" 500 !important;
    padding-bottom: 0 !important;
  }

  .ImpoText2 {
    font-size: 22px !important;
    font-variation-settings: "wght" 400 !important;
  }

  .textZigZagBox {
    font-size: 12px !important;
    font-variation-settings: "wght" 400 !important;
    padding-left: 10px;
    line-height: 24px !important;
    padding-top: 0px;
  }


  .paddingImage {
    margin-top: 16px;
    margin-bottom: 4rem;
  }

  .Article1Child {
    padding-top: 0px;
    line-height: 24px !important;
    /* margin-top: 32px !important; */
  }

  .textPaddingMobileSize {
    padding-top: 125px;
  }

  .iconDisplay {
    display: none;
  }

}

@media (max-width: 768px) {
  .FlexSlider {
    flex-direction: column;
    text-align: center;
  }

  .styleSmallSize {
    display: block;
  }

  .Section1 {
    min-height: unset;
  }

  .ImpoText1 {
    font-size: 70px !important;
    font-variation-settings: "wght" 500 !important;
    padding-bottom: 0 !important;
  }

  .ImpoText2 {
    font-size: 30px !important;
    font-variation-settings: "wght" 400 !important;
  }

  .positionText3 {
    bottom: 20px;
    right: 70px;
  }
}