.articles {
    margin-top: 25px;
}

.articleList {
    border-radius: 24px;
}

.articleList .article {
    padding: 12px;
    background-color: #fff;
    border-radius: 24px;
}

.swiperBlog {
    padding: 25px 0;
}

.articleList .article:hover.article img {
    filter: grayscale(50%);
}

.articleList .article:hover.article .titleArticle {
    color: #EC407A;
}

.articleList:hover {
    box-shadow: 0px 4px 32px 0px rgba(255, 137, 188, 0.25);
}

.articleList .article {
    min-height: 26rem;
    max-height: 26rem;
    position: relative;
}

.articleList .article img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    transition: 0.5s;
    min-height: 260px;
    max-height: 260px;
}

.details {
    margin-top: 5px;
    position: relative;
}

.catName {
    color: #938F94;
    padding: 2px 6px;
    border-radius: 24px;
    font-size: 13px;
    font-variation-settings: "wght" 400;
    margin-left: 16px;
}

.details label {
    font-size: 15px;
    font-variation-settings: "wght" 600;
    color: var(--neutral-60);
}

.details .titleArticle {
    margin: 16px 0 8px 0;
    font-size: 20px !important;
    font-variation-settings: "wght" 400 !important;
}

.articles .seeAllBlog {
    border: none !important;
    padding: 13px 24px;
    border-radius: 8px !important;
}

.articles .btnBox {
    text-align: center;
    margin-top: 63px;
}

.startIcon {
    margin: 0 0 0 8px !important;
}


.noResult {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 2rem;
    margin: 0;
}

.readMore {
    display: flex;
    transform: rotate(45deg);
    transition: 0.2s;
}

.articleList:hover .readMore svg path {
    fill: #EC407A;
}

.articleList:hover .readMore {
    transform: rotate(0);
}

.bottomCard {
    position: absolute;
    bottom: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    right: 0;
    left: 0;
    padding: 0 12px;
}

.SwiperSlide {
    position: relative;
    left: 170px;
}

@media (max-width: 768px) {
    .SwiperSlide {
        left: 0;
        width: 70% !important;
        margin-left: 16px !important;
    }

    .noResult {
        font-size: 1.5rem;
    }

    .articles {
        padding: 0 !important;
    }

    .articles .title {
        font-weight: 600;
        font-size: 19px !important;
        margin-top: 25px;
        line-height: 24px;
    }

    .articles .text {
        font-weight: 400;
        font-size: 14px !important;
        margin: 4px 0 24px 0 !important;
        padding: 0 60px;
    }

    .details .titleArticle {
        font-size: 15px !important;
        font-variation-settings: "wght" 500 !important;
    }

    .articleList .article img {
        border-radius: 14px 14px 0 14px;
        min-height: unset !important;
        max-height: unset !important;
    }

    .articleList .article {
        min-height: 21rem;
        max-height: 21rem;
    }


    .articles .seeAllBlog {
        font-size: 14px;
        font-variation-settings: 'wght' 400;
        padding: 8px 16px;
    }

    .articles .btnBox {
        margin-top: 40px;
    }

    .customSlider {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        column-gap: 16px;
        margin-right: 16px;
        margin-bottom: 20px;
    }


    .customSlider::-webkit-scrollbar {
        display: none;
    }


    .articleList {
        min-width: 17rem;
    }

}

@media (max-width: 1440px) {
    .articles {
        padding: 0 2rem;
        overflow: hidden !important;
        margin-right: 16px;

    }

    .articleContainer {
        justify-content: center;
    }
}