.breadcrumb ul {
    padding: 0;
    margin: 0;
}

.breadcrumb ul li,
.breadcrumb ul li a {
    display: inline-block;
}

.breadcrumb ul li span:hover {
    color: #EC407A;
}

.breadcrumb ul li p {
    font-variation-settings: "wght" 400 !important;
}

.seprateBreadcrumb {
    margin: 0 24px;
}

.categoryName {
    cursor: pointer;
}

@media (max-width: 768px) {
    .seprateBreadcrumb {
        margin: 0 8px;
    }

    .categoryName {
        margin-left: 10px;
    }

    .titlePost .seprateBreadcrumb {
        display: none;
    }

    .titlePost .title {
        margin-top: 8px;
    }
}