.bannerFrame {
    position: relative;
    text-align: center;
}

.bannerFrame .cover {
    width: 100%;
    border-radius: 20px;
}

.bannerFrame .details {
    position: absolute;
    padding: 33px 40px;
}

.text span {
    font-variation-settings: "wght" 400 !important;
}


.button {
    margin-top: 16px !important;
    padding: 10px 40px !important;
}

.textHead {
    line-height: 36px !important;
    font-size: 22px !important;

}