.careerItem {
    background-color: #F8F8F8;
    padding: 16px 36px;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.texts h4 {
    margin-bottom: 6px;
}

.readMore {
    padding: 8px 24px;
    border-radius: 10px;
    background-color: #EC407A;
    color: #fff;
    display: inline-block;
}


.readMore:hover {
    background-color: #B80F55;
}


@media (max-width: 768px) {
    .careerItem {
        display: block;
    }

    .linkJob {
        text-align: left;
        margin-top: 6px;
    }

}