.footer {
    width: 100%;
    padding: 60px 0 45px 0;
    margin-top: 120px;
}


.footer ul li a:hover .itemList {
    color: #EC407A;
}

.textFooter {
    margin-top: 32px;
    font-variation-settings: "wght" 300 !important;
}

.footer ul {
    padding: 0 !important;
    margin: 0 !important;
}

.titleItem {
    margin-bottom: 10px !important;
    display: block;
}

.footer .itemList {
    margin-bottom: 8px;
}

.symbols img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.divider {
    margin: 64px 0 45px 0 !important;
}

.socialBox {
    text-align: left;
}

.socialItems,
.socialItems a {
    display: inline-flex;
    direction: ltr;
    align-items: center;
    column-gap: 31px;
}


.footerAccordion {
    width: 79% !;
    background: unset !important;
    color: unset !important;
    border: none !important;
    box-shadow: unset !important;
}

.footerAccordion::before {
    display: none;
}

.MuiAccordionSummaryRoot {
    padding: 0 !important;
}

.MuiAccordionSummaryContentGutters {
    margin: 0;
}

.dividerMobile {
    margin: 10px 0 20px 0 !important;
}

.copyRight {
    font-variation-settings: "wght" 380 !important;
}

/* responsive */
@media (max-width: 768px) {
    .textFooter {
        font-size: 15px !important;
        font-variation-settings: "wght" 300 !important;
    }

    .copyRight {
        display: block;
        text-align: center;
        font-variation-settings: "wght" 400 !important;
        font-size: 12px !important;
        margin-top: -20px;
    }

    .symbolsWrapper {
        display: flex;
        align-content: center;
        justify-content: center;
        align-self: center;
        align-items: center;
    }

    .symbols {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }


    .symbols div {
        text-align: center;
    }

    .footerAccordion {
        width: 90%;
    }

    .footer {
        margin-top: 56px;
        padding-top: 0;
    }
}

@media (max-width: 368px) {
    .socialBox {
        text-align: center;
        margin-top: -50px !important;
        margin-bottom: -10px !important;
    }

    .footerAccordion {
        max-width: 100% !important;
        width: 80%;
    }
}

@media (max-width: 450px) {
    .footerAccordion {
        max-width: 100% !important;
        width: 83%;
    }

    .socialBox {
        text-align: center;
        margin-top: -50px !important;
        margin-bottom: -10px !important;
    }
}