.searchBlog {
    position: relative;
}

.searchBlog .searchIcon {
    position: absolute;
    left: 17px;
    bottom: 17px;
}

.searchBlogSingle {
    width: 100% !important;
}

.resultSearch {
    position: absolute;
    width: 100%;
    top: 4.5rem;
    max-height: 450px;
    z-index: 99;
    min-height: 450px;
    overflow-x: overlay;
}

.resultSearch::-webkit-scrollbar {
    background-color: #FFF;
    width: 8px;
}

.resultSearch::-webkit-scrollbar-thumb {
    background-color: #ec407a;
    border-radius: 3px;
}

.resultSearch ul {
    padding: 0;
    margin: 0;
    max-height: 200px;
}

.resultSearch ul li:first-child a {
    border-radius: 12px 12px 0 0;
}

.resultSearch ul li:last-child a {
    border-radius: 0 0 12px 12px;
    border-bottom: 1px solid #EC407A;
}

.resultSearch ul a {
    padding: 16px 24px;
    display: inline-block;
    color: #1D1A22;
    background-color: #F9FBFC;
    width: 100%;
    border-bottom: 1px solid #EFEFEF;
}

.resultSearch ul a:hover {
    color: #EC407A !important;
    background-color: #EFEFEF;
}

.resultSearch ul a:hover span {
    color: #EC407A !important;
}

.noResult {
    border-radius: 12px;
    background-color: #F9FBFC;
    color: #1D1A22;
    display: block;
    padding: 16px;
    border-bottom: 1px solid #EC407A;
}

.inputSearch {
    padding-right: 50px;
}

.searchBlog {
    width: 567px;
}

.searchBlog .searchIconBlog {
    position: absolute;
    bottom: 15px;
    right: 17px;
}

.searchBlogPage input {
    padding-right: 9%;
}

.resetSearch {
    position: absolute !important;
    bottom: 17px !important;
    left: 17px !important;
    padding: 0 !important;
}

.searchBlogPage .resultSearch {
    top: 4rem;
}

.searchBlogPage .inputSearch::placeholder {
    font-variation-settings: "wght" 700 !important;
}

@media (max-width: 450px) {
    .searchBlogPage input {
        padding-right: 11%;
    }

    .searchBlog {
        width: 330px;
    }

    .searchBlogPage input {
        padding-right: 14%;
    }
}

@media (max-width: 368px) {
    .searchBlogPage input {
        padding-right: 14%;
    }
}