.comment {
    padding: 16px;
    border-radius: 16px;
    background: #F9F9F9;
    margin-top: 32px;
}


.userInfo {
    display: grid;
    grid-template-columns: 3vw 1fr;
    direction: ltr;
    align-items: center;
    column-gap: 8px;
    margin-bottom: 8px;
}

.userInfo span {
    color: #1C1B1E;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.48px;
}

@media (max-width: 768px) {
    .userInfo {
        grid-template-columns: 9vw 1fr;
    }

    .comment {
        margin-bottom: 5rem;
    }
}