.main {
    padding: 97px 352px;
    background: #FFF1F8;
}

.DownloadSectionUpperText {
    text-align: center;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.04em;
    font-variation-settings: "wght" 500 !important;

}

.DonlwoadWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    align-items: center;
    flex-direction: row;
    /* justify-content: space-between; */
}

.DonlwoadWrapper .mockap img {
    width: 658px;
    height: 573px;
}


.DownloadItemLinks {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
}

.DownloDtnWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
}

.DownloadAppBtn {
    display: flex !important;
    align-content: center !important;
    justify-content: center !important;
    font-size: 24px !important;
    align-items: center !important;
    border: 1px solid #EC407A !important;
    border-radius: 12px !important;
    width: 48% !important;
    height: 64px !important;
    margin: 12px 0 0 0 !important;
    column-gap: 8px !important;
    background-color: #fff;
}

.DownloadAppBtn button {
    width: 100%;
    height: 100%;
    padding: 22px 20px !important;
    column-gap: 5px;
}

.DownloadBtnImage {
    width: 32px;
    height: 32px;
}

.WomenImpoTextDownload {
    font-variation-settings: "wght" 500 !important;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #EC407A;
    margin-left: 10px;
}

.MenImpoTextDownload {
    font-variation-settings: "wght" 500 !important;
    font-size: 48px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #303388;
}

.DownlaodNow {
    font-variation-settings: "wght" 500 !important;
    font-size: 48px;
    text-align: right;
    letter-spacing: -0.04em;
    color: #000;
    margin-bottom: 5px;
}

.DownloadDescription {
    text-align: right;
    color: #5B595C !important;
    margin: 6px 0 60px 0 !important;
    font-size: 24px !important;
    line-height: 40px !important;
    font-variation-settings: 'wght' 400 !important;
}

.DownloadDescription span {
    font-variation-settings: 'wght' 600 !important;
}

.DownloadMockupMen {
    width: 100% !important;
    height: auto !important;
    max-width: 884px;
}

@media(max-width:768px) {

    .MenImpoTextDownload {
        font-size: 25px !important;
    }

    .DonlwoadWrapper {
        flex-direction: column;
        text-align: center;
        grid-template-columns: 1fr;
    }

    .main {
        margin: 21px 0;
        padding: 27px 1rem !important;
    }

    .DownloadDescription {
        text-align: center;
    }


    .DownlaodNow,
    .WomenImpoTextDownload {
        text-align: center;
        font-size: 24px !important;
        font-variation-settings: "wght" 600 !important;
        margin-top: 4px;
    }

    .DownloadDescription {
        font-size: 16px !important;
        font-variation-settings: "wght" 325 !important;
        color: #3F3F3F !important;
        margin-top: -5%;
        line-height: 24px !important;
    }

    .DownloadAppBtn {
        font-size: 15px !important;
        font-variation-settings: "wght" 500 !important;
        width: 49%;
        height: 50px !important;
        padding: 8px;
    }

    .DownloadAppBtn img {
        width: 25px;
        height: 25px;
    }

    .DownloDtnWrapper {
        column-gap: 5px;
    }

    .DownloadMockup {
        width: 100% !important;
        height: auto !important;
        margin-top: 40px;
    }

    .DownloadDescription {
        margin-top: 0 !important;
        margin-bottom: 20px !important;
    }

    .DownloadAppBtn p {
        font-size: 14px !important;
        font-variation-settings: 'wght' 400 !important;
    }


}

.ActiveTab {
    background-color: red;
    color: #fff;
}

.NormalTab {
    border: 1px solid red;

    color: #000;
    background-color: #fff;
}

@media (max-width: 1440px) {
    .main {
        padding: 0 2rem;
    }
}

@media (max-width: 450px) {
    .DownloadAppBtn button {
        padding: 5px !important;
    }
}