.sliderBox {
  background-color: #F9F9F9;
  width: 100%;
  padding: 5rem 1rem 5rem 0.6rem;
  display: flex;
  flex-direction: column;
}

.flexSliderSympathy {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.flexSliderSympathy .Button1 {
  font-variation-settings: "wght" 500 !important;
  font-size: 16px !important;
  line-height: 20px !important;
}

.styleMobileSizeSlider {
  font-size: 40px !important;
  font-variation-settings: "wght" 500 !important;
}

/* *************** */

.buttomStyleSlider1 {
  font-size: 18px !important;
  height: 50px;
  border: 1px solid #ec407a !important;
  color: #fff !important;
  background-color: #ec407a !important;
  margin: 5px !important;
  padding: 16px 24px !important;
}

.buttomStyleSlider1:hover {
  color: #fff !important;
  background-color: #a74465 !important;
}

.buttomStyleSliderActive {
  font-size: 18px !important;
  height: 50px;
  border: 1px solid #ec407a !important;
  color: #ec407a !important;
  margin: 5px !important;
}

.buttomStyleSliderActive:hover {
  color: #fff !important;
  background-color: #a74465 !important;
}

/* *************** */

.buttomStyleSlider1men {
  font-size: 18px !important;
  height: 50px;
  border: 1px solid #303388 !important;
  color: #fff !important;
  background-color: #303388 !important;
  margin: 5px !important;
  padding: 16px 50px !important;
}

.buttomStyleSlider1men:hover {
  color: #fff !important;
  background-color: #474bc0 !important;
}

.buttomStyleSliderMenActive {
  font-size: 18px !important;
  height: 50px;
  border: 1px solid #303388 !important;
  color: #303388 !important;
  margin: 5px !important;
  padding: 16px 50px !important;
}

.buttomStyleSliderMenActive:hover {
  color: #fff !important;
  background-color: #474bc0 !important;
}

/* ********************* */

.FlexArrowBtnSlider {
  position: absolute;
  left: 7rem;
  top: 0.5rem;
}

.buttomArrowSliderPrev {
  background-color: transparent !important;
  border: 1px solid #ec407a !important;
  border-radius: 10px !important;
  padding-top: 8px !important;
  color: #ec407a !important;
  width: 48px !important;
  height: 48px !important;
  margin-left: 8px !important;
}

.buttomArrowSliderMenPrev {
  background-color: transparent;
  border: 1px solid #303388;
  border-radius: 10px;
  height: fit-content;
  padding-top: 3px;
  color: #303388;
  width: 48px;
  height: 48px;
  margin-left: 8px;
}

.buttomArrowSliderNext {
  background-color: transparent !important;
  border: 1px solid #ec407a !important;
  border-radius: 10px !important;
  height: fit-content !important;
  padding-top: 8px !important;
  color: #ec407a !important;
  width: 48px !important;
  height: 48px !important;
  margin-right: 8px !important;
}

.buttomArrowSliderMenNext {
  background-color: transparent;
  border: 1px solid #303388;
  border-radius: 10px;
  height: fit-content;
  padding-top: 8px;
  color: #303388;
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.PaddingTopSlider {
  padding-top: 80px;
  padding-right: 60px;
}

.widthImageSlider {
  width: 80%;
  height: 100%;
}

.flexSliderSwiper {
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  padding-right: 10px;
}

.textSliderLevel {
  font-size: 32px !important;
  font-variation-settings: "wght" 600 !important;
  line-height: 40px !important;
}

.textSliderText {
  font-size: 16px !important;
  font-variation-settings: "wght" 400 !important;
  word-break: break-word;
  width: 90%;
  line-height: 16px;
  min-height: 80px;
  padding-top: 10px;
}

.flexManinSlider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.marginTopBottom {
  margin-top: 21px !important;
  margin-bottom: 35px !important;
  font-variation-settings: "wght" 500 !important;
}

.sliderStyle:nth-child(4) {
  margin-right: -30px !important;
  margin-left: 0 !important;
}

.minHeightSlider {
  min-height: 200px;
}

.alinghImage {
  text-align: left;
}

@media (max-width: 900px) {
  .textZigZagBoxSlider {
    font-size: 15px !important;
  }
}

@media (max-width: 768px) {
  .PaddingTopSlider {
    display: none;
    padding-right: 0;
  }

  .buttomArrowSliderPrev {
    height: 40px;
    width: 40px
  }

  .buttomArrowSliderNext {
    height: 40px;
    width: 40px
  }

  .buttomArrowSliderMenPrev {
    height: 40px;
    width: 40px
  }

  .buttomArrowSliderMenNext {
    height: 40px;
    width: 40px
  }

  .textSliderLevel {
    font-size: 24px !important;
  }

  .textSliderText {
    font-size: 10px !important;
    padding-top: 3px;
  }

  .FlexArrowBtnSlider {
    left: 1rem;
  }

  .minHeightSlider {
    min-height: 170px;
  }

  .buttomStyleSlider1 {
    height: 40px;
    width: 154px;
    font-size: 14px !important;
  }

  .buttomStyleSlider1men {
    height: 40px;
    width: 154px;
    font-size: 14px !important;
  }

  .buttomStyleSliderActive {
    height: 40px;
    width: 154px;
    font-size: 14px !important;
  }

  .buttomStyleSliderMenActive {
    height: 40px;
    width: 154px;
    font-size: 14px !important;
  }

  .buttomStyleSliderMenActive {
    height: 40px;
    width: 154px;
    font-size: 14px !important;
  }

  .buttomStyleSliderActive {
    height: 40px;
    width: 154px;
    font-size: 14px !important;
  }

  .buttomStyleSlider1men {
    height: 40px;
    width: 154px;
    font-size: 14px !important;
  }

  .buttomStyleSlider1 {
    height: 40px;
    width: 154px;
    font-size: 14px !important;
  }

  .FlexArrowBtnSlider {
    top: 0.2rem
  }

  .styleMobileSizeSlider {
    font-size: 26px !important;
    text-align: center;
  }
}

@media (max-width: 425px) {

  .sliderBox {
    margin-top: 30px;
  }

  .PaddingTopSlider {
    padding-top: 24px;
  }

  .styleMobileSizeSlider {
    font-size: 24px !important;
    text-align: center;
    line-height: 32px !important;
  }

  .textZigZagBoxSlider {
    font-size: 12px !important;
    font-variation-settings: "wght" 400 !important;
    text-align: center;
    line-height: 24px !important;
  }

  .FlexArrowBtnSlider {
    display: none;
  }

  .widthImageSlider {
    width: 70%;
  }

  .textSliderLevel {
    font-size: 24px !important;
  }

  .textSliderText {
    font-size: 12px !important;
    min-height: 70px;
    width: 70%;
    line-height: 24px !important;
    padding-top: 8px !important;
  }

  .minHeightSlider {
    min-height: 125px;
  }

  .buttomStyleSlider1 {
    height: 40px;
    width: 255px;
    font-size: 14px !important;
  }

  .buttomStyleSlider1men {
    height: 40px;
    width: 255px;
    font-size: 14px !important;
  }

  .buttomStyleSliderActive {
    height: 40px;
    width: 255px;
    font-size: 14px !important;
  }

  .buttomStyleSliderMenActive {
    height: 40px;
    width: 255px;
    font-size: 14px !important;
  }

  .buttomStyleSliderMenActive {
    height: 40px;
    width: 255px;
    font-size: 14px !important;
    padding: 5px !important;
  }

  .buttomStyleSliderActive {
    height: 40px;
    width: 255px;
    font-size: 14px !important;
    padding: 5px !important;
  }

  .buttomStyleSlider1men {
    height: 40px;
    width: 255px;
    font-size: 14px !important;
    padding: 5px !important;
  }

  .buttomStyleSlider1 {
    height: 40px;
    width: 255px;
    font-size: 14px !important;
    padding: 5px !important;
  }

  .alinghImage {
    text-align: right;
  }

  .marginTopBottom {
    margin-top: 4px !important;
    margin-bottom: 16px !important;
  }
}